.profile-img {
    width: 163px;
    margin-right: -8px;
}

.customer-info {
    position: absolute;
    left: 12px;
    top: 82px;
    color: #fff;
    width: 317px;
}

.customer-sub {
    letter-spacing: 1.5px;
    font-size: 0.95vw;
}

.profile-icon {
    width: 23px;
    /*  padding-top: 5px;*/
}

.customer-list {
    padding-top: 12px;
}

.border-btm {
    border-bottom: 1px solid #90878787;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0px 11px 31px #eee;
}

/*************** Favorites click ***************/
.heart-fill-image-mobile {
    width: 25px;
    background-size: contain;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 22px;
    height: 22px;
    z-index: 9;
    transition: all .4s ease-out;
    display: none;
}

.remove-dish {
    display: none;
}

/****************** new mobile listing css**********************/
.mobile-navbar {
    background-color: white;
    /* background-color: transparent; */
    border-color: transparent;
}

.mobile-resturant {
    margin-top: 102px;
}

.mobile-wrap {
    /* margin-top: 120px; */
}

.mobile-res-name {
    font-size: 20px;
    color: #454545;
}

.mobile-sub-address {
    font-size: 16px;
    color: #454545;
}

.toggle-bar-button-main {
    float: left;
}

.toggle-bar {
    font-size: 25px;
    cursor: pointer;
    margin: 15px 20px;
    /* margin:14px; */
    position: relative;
    /* top: -18px; */
    top: 20px;
    color: #fff;
}

.common-dish-toggle-btn {
    max-width: 31px;
}

.mobile-header::after {
    /* content: '';
    position: absolute;
    height: 36px;
    display: inline-block;
    width: 110%;
    bottom: -22px;
    filter: blur(8px);
    left: -24px;
    z-index: 9; */
}

.mobile-header {
    width: 100%;
    background: #fff;
    /* background: -moz-linear-gradient(top, rgba(135,100,75,1) 0%, rgba(135,100,75,1) 100%);
  background: -webkit-linear-gradient(top, rgba(135,100,75,1) 0%, rgba(135,100,75,1) 100%);
  background: linear-gradient(to bottom, rgba(135,100,75,1) 0%, rgba(135,100,75,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87644b', endColorstr='#87644b', GradientType=0 ); */
}

/* .mobile-header::after { background: #87644B; } */
/*.mobile-header.fixed { position: fixed; top: 0; z-index: 999999; }*/


/*.mobile-dysh.dysh-1 {
    background: url(../images/Restaurant10.png);
    background-size: cover;

}*/
/*.showToggle .mobile-dysh.dysh-1{
  right: 15vw;
}*/
.img-res-tag {
    right: 0;
    position: relative;
    transition: all .4s ease-out;
    height: 67vw;
}

.showToggle .img-res-tag {
    right: 35%;
}

/*.mobile-dysh.dysh-2 {
    background: url(../images/Restaurant8.png);
    background-size: cover;
}
.mobile-dysh.dysh-3 {
    background: url(../images/Restaurant9.png);
    background-size: cover;
}
.mobile-dysh.dysh-4 {
    background: url(../images/Restaurant6.png);
    background-size: cover;
}
.mobile-dysh.dysh-5 {
    background: url(../images/Restaurant5.png);
    background-size: cover;
}
.mobile-dysh.dysh-6 {
    background: url(../images/Restaurant4.png);
    background-size: cover;
}
.mobile-dysh.dysh-7 {
    background: url(../images/Restaurant1.png);
    background-size: cover;
}
.mobile-dysh.dysh-8 {
    background: url(../images/Restaurant11.png);
    background-size: cover;
}
.mobile-dysh.dysh-9 {
    background: url(../images/Restaurant3.png);
    background-size: cover;
}*/
.p-h-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.dysh-details {
    position: absolute;
    bottom: 10px;
    z-index: 1;
    width: 100%;
    padding-left: 0px;
}

.mobile-dysh {

    width: 100%;
    position: relative;
}

.mobile-dysh::after {
    content: '';
    width: 100%;
    height: auto;
    background: #fff0;
    display: inline-block;
    position: absolute;
    bottom: 0;
    /*box-shadow: 0 -45px 100px 100px #000000ba;*/
}

.click-outside {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 4;
}

.common-txt-protection {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

/*.dysh-details h2{
   transition: all .4s ease-out;
}*/
.dysh-details .title-head,
.dysh-details .title-head a,
.dysh-details .title-head a:hover,
.dysh-details .title-head a:focus {
    font-size: 6vw;
    color: #fff;
    text-decoration: none;
    transition: all .4s ease-out;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.dysh-details ul {
    font-size: 4vw;
    color: #fff;
    font-weight: 100;
    list-style-type: none;
    padding-left: 0px;
}

.restaurant-details-leftcard li span {
    padding-left: 10px;
    display: inline-block;
}

.GoDysh ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dysh-details ul li img {
    width: 6vw;
    display: inline-block;
    transition: all .4s ease-out;
}

.dysh-details ul li p {
    display: inline-block;
    margin: 0 0 6px;
}

/* .edit-icon{
  width: 17px;
  margin: 25px;
  cursor: pointer;
} */
.edit-icon {
    width: 20px;
    margin: 30px 20px;
    cursor: pointer;
}

.custom-btn li button.btn.btn-default.btn-border {
    border-radius: 50px;
    background-color: transparent;
    border-color: #36522e;
    color: #fff;
}

.custom-btn li button.btn.btn-default.btn-border:hover {
    background-color: #4f7942;
    color: #fff;
}

.custom-btn li button.btn.btn-default.btn-border:focus {
    outline: none;
}

.border-green-active {
    background-color: #4f7942 !important;
    border-color: #4f7942 !important;
    color: #fff !important;
}

a.moreDetail {
    position: absolute;
    top: 50%;
    bottom: 50%;
    margin: auto;
    right: 0;
    display: inline-table;
    z-index: 1;
    transition: all .4s ease-out;
    transform: translate(0%, -50%);
}

.moreDetail img {
    width: 24px;
}

/*.common-detail-options{
  background-image: url('../images/go-Dysh-menu-blur.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 46vw;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  right: -48vw;
  transition: all .4s ease-out;
}*/
.detail-list {
    position: absolute;
    background-image: url('../images/go-Dysh-menu-blur.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 46vw;
    height: 55.5vw;
    right: -48vw;
    z-index: 1;
    bottom: 0px;
    padding-top: 5vw;
    transition: all .4s ease-out;
    margin-bottom: 0px;
}

.common-detail-options {
    position: absolute;
    background-image: url('../images/go-Dysh-menu-blur.png');
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0px;
    right: 0px;
    top: 0px;
    width: 46vw;
    right: -46vw;
    transition: all .4s ease-out;
    z-index: 5;
    /*display: none;*/
}

.detail-image-resize {
    right: 35%;
}

.detail-list li {
    float: left;
    width: 100%;
}

.detail-list li a,
.detail-list li a:hover {
    color: #fff;
    font-weight: 100;
    width: 100%;
    display: inline-block;
    padding: 8.1px 9px;
    border-bottom: 1px solid #ffffff61;
    font-size: 3vw;
    text-decoration: none;
}

.detail-list li a img {
    width: 7vw;
    margin-right: 5px;
    /*margin-left: -42px;*/
}

body.GoDysh ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.showToggle ul.detail-list {
    right: 0;
}

.showToggle a.moreDetail {
    right: 46vw;
}

.showToggle .dysh-details .title-head a {
    font-size: 4.5vw;
}

.showToggle .dysh-details ul {
    font-size: 2.5vw;
    transition: all .1s ease-out;
    margin-top: 16px;
}

.showToggle .heart-fill-image-mobile {
    right: 50%;
}

.showToggle .dish-title-resize {
    width: 34%;
}

.amount-display {
    position: absolute;
    right: 12px;
    bottom: 7px;
    color: #fff;
    transition: all .4s ease-out;
    font-size: 4.5vw;
}

.showToggle .amount-display {
    right: 50%;
}

.showToggle .dysh-details ul li img {
    width: 3vw;
}

.showToggle .dish-rating-price-number {
    right: 50%;
    font-size: 4vw;
}

#content-tag {
    width: 100%;
    z-index: 10;
    position: fixed;

}
.filter-blur {
    filter: blur(17px);
    position: fixed !important;
    margin-left: -45%;
    width: 90%;
    left: 50%;
    top: 50px;
}



.push-down {
    position: relative;
}

/************ Splash Page css **************************/

.splash-page {
    /* background-image: url(../images/splash-desktop.gif); */
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100%;
    background-attachment: fixed;
}

.csm-ic
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 7px;
    width: 25px;
}
.radio {
    margin: 0.5rem;
  }
  .radio input[type="radio"] {
    position: absolute;
    opacity: 0;
  }
  .radio input[type="radio"] + .radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
    top: 0;
    margin-right: 10px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
  }
  .radio input[type="radio"]:checked + label.radio-label.active:before {
    background-color: #3197EE;
    box-shadow: inset 0 0 0 4px #f4f4f4;
  }
  .radio input[type="radio"]:focus + label.radio-label.active:before {
    outline: none;
    border-color: #3197EE;
  }
  .radio input[type="radio"]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
  }
  .radio input[type="radio"] + .radio-label:empty:before {
    margin-right: 0;
  }
  .radio label {
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #000000;
  }


.splash-header {
    color: #fff;
    line-height: 1.5;
    font-size: 3vw;
    padding-top: 30px;
}

.splash-logo {
    width: 15vw;
    height: 6vw;
    margin-top: 29px;
    margin-bottom: 14px;
}

.tab-con {
    background-color: transparent !important;
    border: none !important;
    color: #a19ea4;
    font-size: 2vw;
}

.tab-con:hover {
    color: #a19ea4;
}

.img-icon-splash {
    width: 2vw;
}

.restaurant-dish-tabs {
    border-bottom: none;
}
.restaurant-search-dropdown .restaurant-dish-tabs .active a
{
    color: #000000  !important;
}
.restaurant-dish-tabs .active a {
    background-color: transparent !important;
    color: #FFFFFF !important;
    border: 0px;
}
.restaurant-search-dropdown .restaurant-dish-tabs .active a {
    background-color: transparent !important;
    color: #000000 ;
    border: 0px;
}

.restaurant-search-dropdown .restaurant-dish-tabs li {
    width: auto;
    color: #ccc;
}
.restaurant-dish-tabs li {
    width: 48%;
    color: #ccc;
}

.primary-loc-image-1 {
    position: absolute;
    top: 3px;
    cursor: pointer;
    width: 33px;
    left: 10px;
}

.splash-top {
    padding-top: 33px;
}

.splash-tab-links .dish-bg-image {
    background-image: url("../images/dish-icon-focus-off.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: left center;
    padding-left: 45px;
    display: inline-block;
}

.splash-tab-links .active .dish-bg-image {
    background-image: url("../images/dish-icon-focus-on.png");
}

.splash-tab-links .restaurant-bg-image {
    background-image: url("../images/restaurant-icon-focus-off.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: left center;
    padding-left: 45px;
    display: inline-block;
}

.splash-tab-links .active .restaurant-bg-image {
    background-image: url("../images/restaurant-icon-focus-on.png");
}

.input-lg-tag {
    padding: 14px 47px;
    border-radius: 0;
    height: 38px;
    font-family: OpenSans-Light;
}

span.input-group-addon.input-search-button {
    padding: 3px 18px;
}
.splash-search-button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
    display: block;
    background-color: #4f7942;
    border-color: #4f7942;
    color: #fff;
    font-size: 1.4vw;
    padding-left: 25px;
    padding-right: 25px;
    height: 40px;
    padding-top: 4px;
}

.splash-search-button:focus {
    outline-style: none;
    box-shadow: none;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.splash-search-button:hover {
    color: #fff;
}

.restaurant-form .input-group {
    width: 100%;
}

.restaurant-search-box {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 1px solid #000;
    background-image: url("../images/icons/RestaurantRating/restaurant-rating.png");
    background-repeat: no-repeat;
    background-size: 28px;
    padding-left: 45px;
    background-position: 9px 5px;
    height: 40px;
    width: 100%;
}

.dish-search-box {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-right: 1px solid #000;
    background-image: url("../images/icons/Cuisine/cuisine.svg");
    background-repeat: no-repeat;
    background-size: 28px;
    padding-left: 45px;
    background-position: 9px 5px;
    height: 40px;
    width: 100%;
}

.restaurant-address-box {
    border-radius: 0px;
    background-image: url("../images/icons/Location/location.png");
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 40px;
    background-position: 9px 5px;
    height: 40px;
}

.dish-address-box {
    border-radius: 0px;
    background-image: url("../images/icons/Location/location.png");
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 40px;
    background-position: 9px 5px;
    height: 40px;
}

.bg-error-icon {
    background-image: url("../images/icons/Error/error.png");
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 25px;
    background-position: 0px center;
    font-size: 13px;
    margin-top: 10px;
}

.splash-error-border {
    border: 2px solid rgb(255, 134, 16);
}

.mobile-search-btn {
    display: block;
    background-color: #4f7942;
    padding: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 40px;
}

.mobile-search-btn img {
    width: 20px;
}

.splash-tab-links {
    width: 93%;
}

.search-icon-align {
    position: absolute;
    top: 8px;
    right: 14px;
}

.btn-splash-submit {
    position: absolute;
    width: 130px;
    height: 38px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #4f7942 !important;
    border-color: #4f7942 !important;
    color: #fff !important;
    font-size: 1.2vw;
}

.btn-splash-submit:focus {
    outline: none;
}

.border-splash {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.splash-address {
    top: 40px;
    width: 100%;
    /* left: -10%; */
}

#ribbon-container {
    position: absolute;
    top: 30px;
    overflow: visible;
    /* so we can see the pseudo-elements we're going to add to the anchor */
    font-size: 0.9vw;
    line-height: 0px;
    left: -14px;
}

.showToggle #ribbon-container {
    top: 36px;
}

#ribbon-container:after {
    /* This adds the second part of our dropshadow */
    content: "";
    height: 3px;
    background: rgba(0, 0, 0, .3);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 58px;
    right: 3px;
}

#ribbon-container a {
    display: block;
    padding: 12px;
    position: relative;
    background: #4f7942;
    overflow: visible;
    height: 20px;
    color: #fff;
    padding-left: 25px;
    text-decoration: none;
}

#ribbon-container a:after {
    /* this creates the "folded" part of our ribbon */
    display: block;
}

#ribbon-container a:before {
    /* this creates the "forked" part of our ribbon */
    content: "";
    height: 0;
    width: 0;
    display: block;
    position: absolute;
    top: 0;
    right: -18px;
    border-top: 14px solid #4f7942;
    border-bottom: 10px solid #4f7942;
    border-right: 20px solid transparent;
}

.box-shade {
    box-shadow: 0 0 14px 8px rgba(12, 12, 12, 0.99);
    height: 26px;
    width: 14px;
    position: absolute;
    top: 1px;
    z-index: 1;
}

.val_error {
    color: #ff8610;
    width: 227px;
    position: absolute;
    left: 23px;
    bottom: 14px;
}

#image-holder img,
#image-holder1 img,
#image-holder2 img,
#image-holder3 img {
    width: 15px;
}

/************************ Edit-profile***************************/
.edit-container {
    margin: 125px auto;
}

.edit-space {
    height: 100%;
    box-shadow: 0 14px 12px #887d7d;
}

.edit-border {
    border: 1px solid #000000;
    box-shadow: 0 14px 12px #887d7d;
}

.edit-profile-modal-close {
    padding: 0.6vw 1vw !important;
    margin: 0px !important;
}

.profile-pic {
    border-radius: 50%;
    width: 87px;
    height: 84px;
    border: 1px solid #fff;
    position: relative;
}

.edit-size {
    font-size: 17px !important;
}

.edit-form {
    padding: 50px 94px;
}

.edit-label {
    /*font-size: 12px!important;*/
}

.checkbox-top {
    /* margin-top: -32px!important; */
    margin-bottom: 21px !important;
}

.edit-checkbox {
    margin-left: 19px;
    margin-top: 8px;
    color: #658258 !important;
}

.form-submit-main-tag .submit-button {
    background-color: #658258;
    color: #fff;
    border-radius: 10px;
    padding: 3px 60px;
    font-size: 1.5vw;
    height: auto;
    border: 1px solid #979797;
    margin-top: 10px;
}

.edit-back-img {
    background: linear-gradient(to bottom, #6b9458 0%, #ced4d436 100%);
    padding-top: 32px;
    padding-bottom: 32px;
}

.canvas--helper {
    /*margin: 0 auto;
  height: 100%;*/
}

.edit-img-icon {
    position: absolute;
    left: 51%;
    top: 12%;
    width: 37px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #000;
    cursor: pointer;
}

.profile-left-banner-image {
    background-image: url('../images/go-Dysh-landing-webBG.png');
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.edit-profile-blur {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.4);
}

.edit-icon-img-png {
    position: absolute;
    left: 52%;
    width: 21px;
    top: 13.2%;
    cursor: pointer;
}

.checkbox {
    width: 100%;
    margin: 15px auto;
    position: relative;
    display: block;
}

.checkbox input[type="checkbox"] {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
}

.checkbox label {
    position: relative;
}

.checkbox label:before {
    content: '';
    position: absolute;
    left: 6px;
    top: 0;
    margin: 8px;
    width: 22px;
    height: 22px;
    transition: transform 0.28s ease;
    border-radius: 0px;
    border: 2px solid #a9afa8;
}

.checkbox label:after {
    content: '';
    display: block;
    width: 11px;
    height: 5px;
    border-bottom: 2px solid #7bbe72;
    border-left: 2px solid #7bbe72;
    -webkit-transform: rotate(-45deg) scale(0);
    -moz-transform: rotate(-45deg) scale(0);
    -ms-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    position: absolute;
    top: 16px;
    left: 19px;
}

.checkbox input[type="checkbox"]:checked~label::before {
    color: #7bbe72;
}

.checkbox input[type="checkbox"]:checked~label::after {
    -webkit-transform: rotate(-45deg) scale(1);
    -moz-transform: rotate(-45deg) scale(1);
    -ms-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);

}

.checkbox label {
    min-height: 34px;
    display: block;
    padding-left: 46px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    vertical-align: sub;

}

.checkbox label span {
    position: absolute;
    top: 60%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #658258;
    /* font-size: 1.4vw; */
}

.checkbox input[type="checkbox"]:focus+label::before {
    outline: 0;
}

.edit-back img {
    width: 15px;
    cursor: pointer;
    position: absolute;
    top: 12px;
    left: 12px;
}

.edit-back {
    padding: 0;
}

.custom-modal-tag {
    margin-top: 15vw;
}

.modal-body.edit-photo-panel {
    background-color: #000;
}

.close-btn img {
    width: 12px;
}

.close-btn {
    opacity: 1;
    margin-top: -12px;
    margin-right: -6px;
}

.close-btn:hover {
    opacity: 1;
}

.zoom-img {
    color: #fff;
    padding-left: 55px;
    font-size: 1.09vw;
    position: relative;
    top: 313px;
}

/* .range-slider-main-tag{
      padding-left: 52px;
    margin-top: 0px;
    margin-bottom: 30px;
} */
/* start of input range */
.cr-slider {
    height: 6px;
    margin-top: 5px;
}

.cr-slider::-webkit-slider-thumb {
    width: 18px;
    height: 18px;
    background: #4f7942;
}

.cr-slider[type="range"] {
    display: inline-block;
    width: 72%;
}

.cr-slider[type="range"]::-webkit-slider-runnable-track {
    background: #ddd;
    color: #4f7942;

}

.cr-slider[type="range"]::-moz-range-progress {
    background-color: #4f7942;
}

.input {
    -webkit-appearance: none;
}

.cr-slider[type="range"]::-webkit-input-progress {
    background-color: #4f7942;
}

.cr-slider[type="range"]::-moz-range-track {
    background: #ddd;
    outline: none;
    /* background: red;*/
}

.cr-slider[type="range"]::-ms-fill-lower {
    background: rgb(4, 122, 240);
}

.cr-slider[type="range"]::webkit-slider-thumb {
    color: green;
}

.unk {
    padding-right: 15px;
}

/** End of slider range **/

button.btn.btn-default.btn-delete {
    float: left;
    color: #4f7942;
    border-color: #000;
    font-size: 1.5vw;
}

.btn-apply {
    font-size: 1.5vw;
    padding: 6px 20px;
}

button.btn.btn-default.btn-change {
    color: #4f7942;
    border-color: #000;
}

button.btn.btn-default.btn-apply,
button.btn.btn-default.btn-apply:hover {
    color: #fff;
    border-color: #979797;
    background-color: #4f7942;
    font-family: Helvetica;
    margin-top: -7px;
}

button.btn.btn-default.btn-delete:hover,
button.btn.btn-default.btn-change:hover {
    background-color: transparent;
}

button.btn.btn-default.btn-delete:focus,
button.btn.btn-default.btn-change:focus,
button.btn.btn-default.btn-change:focus {
    outline: none;
}

.inputfile-2+label {
    color: #4f7942;
    border: 1px solid #000;
    border-radius: 3px;
}

.inputfile-2:focus+label,
.inputfile-2.has-focus+label,
.inputfile-2+label:hover {
    color: #4f7942;
}


.inputfile+label {
    width: 10em;
    height: 2.5em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
    padding-top: 6px;
    padding-right: 12px;
}

input[type=file] {
    display: none;
}

.box-tag {
    display: initial;
}

/*dash board page starts*/
.dashbord-bg-image {
    /* background-image: url("../images/goDysh-dashboardBG.jpg"); */
    /*background-repeat: no-repeat;*/
    /* background-size: 100%; */
}

.dashboard-main {
    height: 100%;
    top: 85px;
    position: relative;
    z-index: 0;
}

.floatleft {
    float: unset !important;
}

.floatright {
    float: unset !important;
}

.profile-img-section {
    width: 42px;
    pointer-events: none;
}



.dish-map-width {
    width: 100%;
}



.dish-google-tag-width {
    width: 48%;
    right: 1%;
}

.common-newly-added-label {
    display: inline-block;
    padding: 0.3vw 3vw 0.3vw 1vw;
    position: relative;
    background: #4f7942;
    color: #fff;
    font-size: 1vw;
}

.newlyadded-container {
    overflow: hidden;
    margin-left: -30px;
}

.common-newly-added-label:after {
    content: "";
    height: 0;
    width: 0;
    display: block;
    position: absolute;
    top: 0;
    right: -1.2vw;
    border-top: 1vw solid #4f7942;
    border-bottom: 0.9vw solid #4f7942;
    border-right: 1.3vw solid transparent;
}

.common-newly-added-label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    box-shadow: 0 0 14px 8px rgba(12, 12, 12, 0.99);
}




.mini-height{min-height: 569px;}




.active-border {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    /*background-color:#39B4CC;*/
    /*background-image:
    linear-gradient(91deg, transparent 50%, #A2ECFB 50%),
    linear-gradient(90deg, #A2ECFB 50%, transparent 50%);*/
    background-image: linear-gradient(91deg, transparent 50%, rgba(0, 0, 0) 50%), linear-gradient(90deg, rgba(0, 0, 0) 50%, transparent 50%);
    opacity: 0.1;
    z-index: 3;

}

.transform-rotate {
    transform: rotate(-90deg) !important;
}

.credit-details-main {
    position: absolute;
    bottom: 0px;
}

.common-box-height {
    min-height: 280px;
}

.order-pash-month {
    font-size: 1.2vw;
}

.common-credits-status {
    font-size: 1.4vw;

}



.order-reviewed-status {
    font-size: 1.2vw;
}

.rating-review-details {
    margin-top: 0.5vw;
    margin-bottom: 1.2vw;
}

.order-review-rating {
    font-size: 40px;
}

.profile-img-cell {
    width: 42px;
}

.displayinline {
    display: inline-block !important;
}

.profile-list-content {
    display: inline-block;
}

.dish-logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 6vw;
    z-index: 101;
    box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.2);
}

.dish-details-view {
    position: absolute;
    bottom: 0px;
    left: 30px;
    z-index: 150;
    width: 60%;
}

.dish-banner-img {
    transition: transform .5s ease;
}

.dish-banner-img:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    /*-moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);*/
}

.dish-list-address-main {
    margin-top: 0.8vh;
}

.dish-primary-address {
    font-size: 1.7vw;
    margin-top: 0px;
    margin-bottom: 0.5vw;
}

.dish-restaurant-name {
    font-size: 2vw;
    /*line-height: 3vw;*/
    position: relative;
    display: inline-block;
    float: left;
}

.dish-name-shading-color {
    overflow: hidden;
    /*width: 21.7vw;*/
    white-space: nowrap;
    height: 3.7vw;
}

.viewportwidth {
    width: 24.7vw;
    /*background: -webkit-linear-gradient(0deg,#ffffff 70%, rgba(216,216,216,0.1));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}

.viewportwidth code {
    visibility: hidden;
}

@supports ((background-clip: text) or (-webkit-background-clip: text)) and ((text-fill-color: transparent) or (-webkit-text-fill-color: transparent)) {
    .viewportwidth {
        background-image: linear-gradient(90deg, #ffffff 70%, rgba(216, 216, 216, 0.1));
        background-size: cover;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
    }
}

.dish-name-shadow-inner {
    position: relative;

}

.dish-address-details {
    color: #9f9f9f;
    font-size: 1vw;
    margin-bottom: 0.4vw;
    line-height: 1.2;
}

.text-protection {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.3);
}

.dish-list-address-main li {
    margin-bottom: 0.5vh;
    line-height: 1.5;
}

.dish-rating-list-img {
    width: 0.9vw;
}

.dish-rating-list-content {
    color: #9f9f9f;
    font-size: 1vw;
    margin-left: 10px;
}

.dish-rating-details {
    position: absolute;
    bottom: 6px;
    right: 10px;
    color: #fff;
    z-index: 100;
    width: 67%;
}

.dish-rating-value {
    font-size: 1.3vw;
}

.dish-rating-value-img {
    width: 1.3vw;
    margin-right: 10px;
}

.dish-price-value {
    font-size: 1.7vw;
}

.add-dish-hover {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0;
    width: 6px;
    background-color: #fff;
    display: none;
}

.dish-details-block {
    padding: 7px;
}

.dish-details-block:hover .add-dish-hover {
    display: block;
}

.dish-details-sub-section:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.add-dish-hover:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.add-dish-icon {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(-0%, -50%);
    z-index: 2;
    width: 28px;
    cursor: pointer;
    /*background-image: url('../images/dish-slider-addBG.png');
  background-repeat: no-repeat;
  transform: rotate(30deg);*/
}

.dish-right-toggle-right {
    right: 45vw !important;
}

.dish-right-zero {
    right: 0 !important;
}

.add-dish-icon-bg {
    position: absolute;
    right: 0px;
    z-index: 2;
    max-width: 53px;
    margin: auto;
    top: 50%;
    transform: translate(0, -50%);
}

.dish-fade-color:before {
    content: '';
    box-shadow: inset 0 0 200px #000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.dish-heart-fill-image {
    position: absolute;
    bottom: -18px;
    right: 10px;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    cursor: pointer;
    z-index: 1;
    /* background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07); */
    text-align: center;
    line-height: 38px;
}

.dish-container {
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 125px;
}

.dish-page {
    background-color: #f2f2f2;
}

.common-dish-left-content {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 100;
}

.common-left-dish-content {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.common-left-dish-content:after {
    content: '';
    width: 110%;
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.dish-blue-color:after {
    background: -moz-linear-gradient(left, rgba(20, 42, 57, 1) 0%, rgba(40, 75, 96, 1) 75%, rgba(40, 75, 96, 1) 75%);
}

.dish-coffee-color:after {
    background: rgb(37, 23, 0);
    background: -moz-linear-gradient(left, rgba(37, 23, 0, 1) 0%, rgba(63, 39, 0, 1) 76%);
    background: -webkit-linear-gradient(left, rgba(37, 23, 0, 1) 0%, rgba(63, 39, 0, 1) 76%);
    background: linear-gradient(to right, rgba(37, 23, 0, 1) 0%, rgba(63, 39, 0, 1) 76%);
}

.dish-detail-container {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

.dish-card-banner {
    overflow: hidden;
}

.dish-card-banner:after {
    position: absolute;
    left: 0px;
    top: 0;
    content: '';
    display: inline;
    width: 0;
    height: 100%;
    z-index: 99;
}

.dish-color-1 {
    background: linear-gradient(to right, rgba(20, 42, 57, 1) 0%, rgba(40, 75, 96, 1) 75%, rgba(40, 75, 96, 1) 75%);
}

.dish-color-2 {
    background: linear-gradient(to right, rgba(37, 23, 0, 1) 0%, rgba(63, 39, 0, 1) 76%);
}

.dish-color-3 {
    background: linear-gradient(to right, rgba(164, 96, 119, 1) 0%, rgba(164, 96, 119, 1) 76%);
}

.dish-color-4 {
    background: linear-gradient(to right, rgba(116, 71, 10, 1) 0%, rgba(116, 71, 10, 1) 76%);
}

.dish-banner-color:after {
    box-shadow: 0 0px 40px 60px;
}

.dish-banner-color1:after {
    box-shadow: 0 0px 40px 60px #284c61;
}

.dish-banner-color2:after {
    box-shadow: 0 0px 40px 60px #3d2600;
}

.dish-banner-color3:after {
    box-shadow: 0 0px 40px 60px rgb(164, 96, 119);
}

.dish-banner-color4:after {
    box-shadow: 0 0px 40px 60px #75460b;
}

.addcart-main {
    position: relative;
}

.cart-number {
    color: #fff;
    background-color: red;
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left: 9px;
    font-size: 8px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    top: -1px;
    padding-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*dash board page ends*/

/*favorite restaurant page starts*/
.favorite-main {
    margin-top: 120px;
}

.favorite-card-tabs {
    margin-left: 1%;
}

.favorite-card-container {
    max-width: 98%;
    margin: 15px auto;
}

.favorite-tabs-main .tab-border {
    background-color: #658258;
}

.favorite-tabs-main .restaurant-dish-tabs li {
    width: 50%;
}

.favorite-tabs-main .restaurant-dish-tabs .active a,
.favorite-tabs-main .restaurant-dish-tabs .active a:focus,
.favorite-tabs-main .restaurant-dish-tabs .active a:hover {
    color: #000 !important;
    border: 1px solid transparent;
}

.favorite-tabs-main .restaurant-dish-tabs li a:hover {
    border-color: transparent;
    background: transparent;
}

.favorite-tabs-main .restaurant-dish-tabs li a {
    color: #7d7c7c;
    font-family: "OpenSans-Regular";
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    font-size: 1.3vw;
}

.favorite-card-sup-container {
    padding: 0vw 1vw;
}

.favorite-card-sub-main {
    overflow: hidden;
    margin-bottom: 2vw;
}

.favorite-card-title {

    margin-bottom: 1.5vh;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    width: 90%;
    position: relative;
}
.favorite-card-title::after {
    content: '';
    box-shadow: 0 0 40px 41px rgb(255, 255, 255);
    position: absolute;
    right: 0;
    top: 0;
}
.favorite-banner-img img {
    height: 161px;
    width: 100%;
    background-size: cover;
}
.favorite-fill-heart {
    width: 1.7vw;
    position: absolute;
    right: 8px;
}

.favorit-rating-icon {
    width: 20px;
}
.favorit-clock-icon {
    width: 17px;
    position: relative;
    top: -3px;
}
.favorit-time-icon {
    width: 14px;
    position: relative;
    top: -3px;
}
.mr-15{
    margin-right:15px !important;
}

.favorite-rating-number {

    display: inline-block;
    margin-left: 10px;
}

.favorite-banner-img {
    padding: 0px;
    z-index: -1;
}

.user-favorite-reviews-main {
    position: absolute;
    bottom: 17px;
    right: 0;
}
.favorite-reviews {
    font-size: 0.8vw;
}

.favorite-reviews a {
    color: #fff;
    text-decoration: none;
}

.favorite-reviews-price {
    font-size: 12px;
}

.favorite-card {
    color: #000;
    padding: 15px;
    min-height: 81px;
    border: 1px solid #dcdcdc;
}
.fav-iconPos {

    justify-content: flex-start;
    align-items: center;
    display: flex;
    width: 50%;
}

.favorite-restarant-address li {
    margin-bottom: 1vh;
}

.favorite-dish-head-button {
    width: 9vw;
    display: inline-block;
    margin-right: 25px;
    margin-top: 8px;
}

.favorite-dish-head {
    color: #454545;
    font-size: 6vw;
    display: inline-block;
}

.dish-restaurant-favorite-container {
    margin-bottom: 20px;
}

.favorite-color-1 {
    background-color: #9a6031;
    box-shadow: 0px 0px 25px 19px #9a6031;
}

.favorite-color-2 {
    background-color: #4c3112;
    box-shadow: 0px 0px 25px 19px #4c3112;
}

.favorite-color-3 {
    background-color: #deb134;
    box-shadow: 0px 0px 25px 19px #deb134;
}

.favorite-color-4 {
    background-color: #5e563e;
    box-shadow: 0px 0px 25px 19px #5e563e;
}

.favorite-color-5 {
    background-color: #6e8eca;
    box-shadow: 0px 0px 25px 19px #6e8eca;
}

.favorite-color-6 {
    background-color: #fabab0;
    box-shadow: 0px 0px 25px 19px #fabab0;
}

.favorite-color-7 {
    background-color: #1e1010;
    box-shadow: 0px 0px 25px 19px #1e1010;
}

.favorite-color-8 {
    background-color: #e67a31;
    box-shadow: 0px 0px 25px 19px #e67a31;
}

/*favorite restaurant page ends*/

/*order history starts*/
.order-history-main {
    top: 105px;
}

.common-brand-color {
    color: #454545;
}

.order-history-title {
    font-size: 2.7vw;
}

.order-history-year {
    font-size: 4vw;
    padding-left: 1.5vw;
}

.order-history-year-pacity {
    opacity: 0.4;
}

.order-history-month-card-main {
    margin-top: 2vw;
}

.order-history-months {
    /*margin-top: 15px;*/
}

.order-history-months li {
    font-family: "OpenSans-SemiBold";
    color: #454545;
    font-size: 1.8vw;
    opacity: 0.4;
    padding: 5px 0px;
    text-align: right;
    cursor: pointer;
    position: relative;
    padding-right: 10px;
}

.order-history-months li:hover {
    opacity: 1;
    font-size: 2.5vw;
}

/*.order-history-months li:hover::after{
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 8px solid #d8d8d8;
  border-top: 11px solid transparent;
  border-bottom: 10px solid transparent;
  top: 50%;
  transform: translate(0%,-50%);
}*/
.order-month-active {
    opacity: 1 !important;
    font-size: 2.5vw !important;
}

.order-month-active::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 8px solid #d8d8d8;
    border-top: 11px solid transparent;
    border-bottom: 10px solid transparent;
    top: 50%;
    transform: translate(0%, -50%);
}

.order-history-list-main {
    background-color: #d8d8d8;
    padding: 0 20px 0 20px;
    float: right;
}
.order-history-list-main:first-child {
    padding-top: 20px;
}


.order-history-image {
    border-radius: 5px;
}

.order-history-card:hover,
.order-history-active {
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.pickup-order-history {
    position: absolute;
    top: 10px;
    left: 0px;
    right: 0.8vw;
    z-index: 1;
}

.order-pick-up-main {
    position: relative;
    overflow: hidden;
}

.order-history-pickup-badge {
    background-color: #4f7942;
    padding: 0.3vw 2.5vw !important;
    display: inline-block;
    font-size: 0.9vw;
}

.order-history-pickup-badge:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 1vw solid transparent;
    border-bottom: 1vw solid transparent;
}

.order-history-pickup-badge:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
    bottom: 0px;
    box-shadow: 0 0 14px 8px rgba(12, 12, 12, 0.99);
    box-shadow: 0 0 18px 6px rgba(12, 12, 12, 0.99);
}

.order-history-restaurant-detail {
    position: absolute;
    top: 0.9vw;
    left: 0.9vw;
    right: 0.9vw;
    bottom: 0.9vw;

}

.order-history-ref-no {
    font-size: 0.9vw;
    opacity: 0.8;
}

.order-history-restaurant-description {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.order-history-rest-name {
    font-size: 1.8vw;
    margin-bottom: 0.5vw;
}

.image-protection {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 5px;
}

.image-card-protection {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.order-history-date-price {
    font-size: 1.1vw;
    opacity: 0.8;
}

.order-history-card {
    margin-bottom: 7px;
    overflow: hidden;
}

.order-history-sub-address {
    font-size: 0.9vw;
}

.order-history-main-card {}

.order-history-sub-card {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #ececec;
    margin-right: 15px;
    height: 98.3%;
    border: 1px solid rgba(155, 155, 155, 0.08);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.order-history-right-main-card {
    position: fixed;
    margin-left: 49.9%;
    height: 100%;
    right: 0px;
    left: 0px;
    top: 170px;
    /* top: 1.7%; */
}
.order-history-restaurant-description.custom-ohrd {
    margin-bottom: 20px;
}

.order-history-box-shadow {
    position: absolute;
    top: 0px;

    height: 0px;
    width: 100%;
}

.order-item-name-price {
    margin: 38px 20px;
    font-size: 1.2vw;
    height:35vh; overflow-y: scroll;

}

.order-items-history-main {
    overflow: hidden;
    background-color: #ececec;
}

.order-item-list-container {
    margin-bottom: 1vw;
    font-family: "Source Sans Pro"!important;
    font-weight: 600;
    padding: 0 1vw;
}

.visible-hidden {
    visibility: hidden;
}

.order-history-total-price {
    font-size: 1.8vw;
    padding: 0.4vw 2vw;
    background-color: #9f9f9f;
    font-family: "Source Sans Pro"!important;
    font-weight: 600;
    margin-top: 30px;
    margin-top: 1vw;
    background-color: rgba(159, 159, 159, 0.4);
}

.order-review-content {
    color: #000;
    opacity: 0.5;
    font-size: 1.2vw;
    margin-top: 1.5vw;
}

.order-history-menu-button {
    position: absolute;
    left: 15px;
    top: 4vh;
    z-index: 2;
    width: 7vw;
    cursor: pointer;
}
.mobile-scroll{min-height: 510px; overflow-y: scroll ;}
.mobile-order-history-title {
    font-size: 6.4vw;
    margin-bottom: 6vw;
    font-family: "SourceSansPro-ExtraLight";
}

.mobile-no-of-orders {
    font-size: 4.8vw;
    margin-bottom: 2vw;
}

.mobile-item-list-card {
    background-color: #ececec;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px 0px 0px 0px;
    display: none;
    height: 0px;
    transition: height 1s;
}

.top-shape {
    width: 0;
    border-top: 12px solid #4f7942;
    border-right: 12px solid transparent;
}

.bottom-shape {
    width: 0;
    border-bottom: 13px solid #4f7942;
    border-right: 13px solid transparent;
    clear: both;
}

/*order history ends*/

/*rating review starts*/
.rating-review-main {
    top: 105px;
    background-color: #f2f2f2;
}

.rating-review-card {
    width: 95%;
    margin: 0 auto;
}

.rating-review-list-main {
    background-color: #d8d8d8;
    padding: 1vw 1vw 1vw 1.5vw;
    width: 60.44%;
    position: fixed;
    right: 5%;
    height: 85vh;
}

.rating-review-restaurant-card {
    margin-top: 1vw;
}

.rating-review-sub-main {
    margin-bottom: 7px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.rating-review-sub-card-main {
    overflow: hidden;
    border-radius: 5px;
}

.rating-review-sub-main:hover {
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.rating-review-sub-main:hover .rating-now-get-price-green,
.rating-review-sub-main:hover .rating-now-get-price-gray {
    right: -1px;
}

.rating-review-menu-active::after {
    content: "";
    position: absolute;
    right: -15px;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 8px solid #d8d8d8;
    border-top: 11px solid transparent;
    border-bottom: 10px solid transparent;
    top: 50%;
    transform: translate(0%, -50%);
}

.rating-review-rest-image {
    border-radius: 5px;
}

.rating-review-text-protect {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.rating-review-restarant-name {
    position: absolute;
    top: 0.5vw;
    left: 0.5vw;
    right: 0.5vw;
}

.rating-review-date {
    position: absolute;
    left: 0.5vw;
    bottom: 0.5vw;
    right: 0.5vw;
    font-size: 1;
    width: 57%;
    color: #ccc !important;
    font-size: 11px;
}


.rating-now-text {
    position: absolute;
    right: 0.8vw;
    bottom: 0.8vw;
    width: 7vw;
    font-size: 1.2vw;
    text-align: right;
}

.rating-now-get-price-green {
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-bottom: 19vw solid #4f7942;
    border-left: 11vw solid transparent;
}

.rating-now-get-price-gray {
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-bottom: 19vw solid #9f9f9f;
    border-left: 11vw solid transparent;
}

.rating-review-restarant-title {
    font-size: 1.8vw;
    margin-top: 0px;
    margin-bottom: 0.5vw;
}

.rating-review-order-no {
    font-size: 0.9vw;
}

.rating-review-price {
    font-size: 1.2vw;
}

.rating-review-list-container {
    border: rgba(155, 155, 155, 0.08);
    background-color: #fff;
    border-radius: 5px;
}

.rating-review-right-card {
    /* background-image: url("../images/goDysh-home-banner.png"); */
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 13vw;
    border-radius: 5px;
}

.rating-review-rest-detail {
    position: absolute;
    left: 0.7vw;
    bottom: 0.7vw;
    right: 0.7vw;
}

.rating-review-right-date {
    font-size: 1.2vw;
}

.rating-review-food-items-main {

    background-color: #f7f7f6;
    background-color: #f1f0ee;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.12);
}

.rating-review-food-items-main .mCSB_container {
    padding-top: 10px;
}

.rating-review-restaurant-service {
    font-size: 1.2vw;
    margin-bottom: 1vw;
    margin-top:12px !important;
}

.food-item-name {
    font-size: 1.2vw;
}

.food-item-image {
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.common-text-protection {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
}

.ratingreview-ref-no {
    font-size: 1.2vw;
}

.border-radius10 {
    border-radius: 10px;
}

.food-write-review {
    background-color: rgba(159, 159, 159, 0.1);
    border-color: rgba(159, 159, 159, 0.1);
    box-shadow: unset;
    font-size: 1.2vw;
    color: #9f9f9f;
    height: 6vw !important;
}

.food-write-review:focus {
    border: 2px solid #4f7942;
}

.rating-review-submit-main {
    padding: 1vw 2vw;
}
.rating-review-submit {
    color: #fff;
    border-radius: 5px;
    font-size: 1.4vw;
    background-color: #4f7942;
    border: 0px;
    margin-top: 11px;
    padding: 6px 15px 6px 15px !important;
}

.padding1vw {
    padding: 0 1vw;
}

.rating-review-menu-button {
    position: absolute;
    left: 0px;
    top: 4vh;
    z-index: 2;
    width: 7vw;
    cursor: pointer;
}

#rating-review-error {
    background-color: rgba(0, 0, 0, 0.7);
    left: 34%;
    top: 105px;
    right: 5%;
}

.ratingreview-slider .rangeslider__fill {
    background-color: #4f7942;
    border-radius: 5px;
}

.ratingreview-slider .rangeslider--horizontal {
    height: 15px;
}

.ratingreview-slider .rangeslider__handle {
    width: 20px;
    height: 20px;
    top: -3px !important;
    background-color: #fff;
    border-color: #4f7942;
    border: 2px solid #4f7942;
    box-shadow: 0 4px 25px rgba(0, 0, 0, .4);
    visibility: hidden;
    z-index: 3000;
}

.ratingreview-slider .rangeslider {
    background: #d5d5cc;
    box-shadow: unset;
    border-radius: 5px;
}

.ratingreview-slider .rangeslider--disabled {
    opacity: 1;
}

.ratingreview-slider .range-slider-main {
    padding-left: 0px;
    margin-top: 4px;
    position: relative;
}


.rating-range-slider .slider.slider-horizontal {
    width: 100%;
    height: 20px;
}

.rating-range-slider .slider-tick.in-selection {
    background-image: unset;
}

.rating-range-slider .slider-tick {
    width: 1px;
    height: 12px;
    background-color: #fff;
    margin-top: 3px;
}

.rating-range-slider .slider.slider-horizontal .slider-tick:first-child,
.rating-range-slider .slider.slider-horizontal .slider-tick:last-child {
    display: none;
}

.rating-range-slider .slider.slider-horizontal .slider-tick:nth-child(2n) {
    opacity: 0.3;
    height: 10px;
    margin-top: 4px;
}

.rating-range-slider .slider-tick.round {
    border-radius: 0px;
}

.rating-range-slider .slider {
    background: transparent;
    box-shadow: unset;
    margin-top: 0px;
}

.rating-range-slider .slider.slider-horizontal .slider-tick {
    margin-left: 0px;
}

.rating-range-slider .slider-selection.tick-slider-selection {
    background-color: #4f7942;
    background-image: unset;
    border-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.rating-range-slider .slider-track-low,
.slider-track-high {
    background: #b3c5a8;
    box-shadow: unset;
    border-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.rating-range-slider .slider-handle {
    top: -2px !important;
    background-color: #fff;
    border: 2px solid #4f7942;
    box-shadow: 0 0px 15px 2px rgba(79, 121, 66, 0.4);
    z-index: 3000;
    background-image: unset;
    visibility: hidden;
}

.rating-range-slider .slider.slider-horizontal .slider-track {
    top: 40%;
    height: 12px;
    border-radius: 4px;
    overflow: hidden;
}

.rating-range-slider .slider .tooltip.top {
    margin-top: -23px;
    background: transparent;
    font-size: 0.7vw;
}

.rating-range-slider .tooltip.top .tooltip-arrow {
    display: none;
}

.rating-range-slider .tooltip-inner {
    color: #454545;
    background-color: transparent;
}

.rating-range-slider .visibility-show {
    visibility: visible;
}

/*rating review ends*/

/*order review starts*/
.order-review-main {
    top: 10px;
    box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.5);
    padding: 1.5vw;
    margin-top: 2vw;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.review-checkout {
    color: #454545;
    text-shadow: 0px 0px 0px #000, 0px 0px 2px #000;
    font-size: 2.3vw;
    margin-top: 75px;
    margin-bottom: 2vw;
}

.pickup-heading {
    color: #454545;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding-bottom: 0.3vw;
    margin-bottom: 0.5vw;
    font-size: 1.5vw;
    margin-top: 0.3vw;
}

.pickup-address {
    border: 1px solid #979797;
    border-radius: 5px;
    padding: 1.1vw;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.12);
    margin-bottom: 0.8vw;
}

.pickpup-restaurant-name {
    font-size: 1.5vw;
    margin-bottom: 0.5vw;
    color: #454545;
}

.pickup-address-list {
    padding-left: 1vw;
    margin-bottom: 0.7vw;
}

.pickup-address-list li img {
    width: 1vw;
    margin-right: 0.8vw;
}

.pickup-address-list li span {
    display: inline-block;
    font-size: 1.2vw;
    font-family: "OpenSans-Regular";
    color: #454545;
}

.order-review-payament-img {
    width: 1.7vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

.order-payment-credits {
    color: #454545;
    font-size: 1.5vw;
}

.pending-amount-info {
    font-size: 0.8vw;
    color: #ce4033;
    margin-bottom: 0.7vw;
}

.orderview-payment-price {
    font-size: 1.5vw;
    color: #454545;
    margin-right: 3vw;
}

.godysh-credits-section {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.saved-card-title {
    font-size: 1.2vw;
    color: #454545;
    margin-top: 0.5vw;
    margin-bottom: 0px;
}

.visa-name {
    color: #004686;
    font-size: 0.8vw;
}

.saved-cards-list li {
    font-family: "SourceSansPro-ExtraLight";
    font-size: 1.5vw;
    color: #454545;
}

.saved-cards-list {
    padding-left: 2vw;
}

.payment-card-no {
    margin-left: 0.5vw;
    border-bottom: 3px solid #658258;
}

.add-card-text {
    font-size: 1.5vw;
    color: #454545;
    margin-left: 2vw;
    margin-top: 0.5vw;
    margin-bottom: 0px;
    cursor: pointer;
    display: inline-block;
}

.order-review-summary {
    font-size: 1.5vw;
    color: #454545;
}

.order-review-number {
    width: 4vw;
    display: inline-block;
    padding-left: 1vw;
}

.order-review-list-edit-delete img {
    width: 1.3vw;
}

.order-review-list-edit-delete {
    font-size: 1.5vw;
}

.order-review-dish-price {
    margin-left: 1vw;
}

.order-review-instructions {
    padding-left: 4.5vw;
}

.food-type-in-res {
    font-size: 0.9vw;
    margin-bottom: 0.3vw;
}

.order-review-detail-main {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding-bottom: 0.5vw;
}

.order-review-items-total {
    padding-left: 3vw;
}

.order-review-total {
    font-size: 1.2vw;
    margin-top: 0.3vw;
    margin-bottom: 0.3vw;
}

.place-order-button {
    padding: 0.5vw 0px 0;
}
.custompaddingAP
{
    margin-bottom: 50px;
}
.order-review-left-card {
    padding-right: 0.4vw;
}

.order-review-right-card {
    padding-left: 0.4vw;
}

.order-review-modal-main {
    width: 100%;
    margin: 0;
}
.order-review-close-modal {
    font-size: 2vw;
    margin-top: 1vw;
    color: #000;
    opacity: 1;
    position: relative;
    right: 12px;
}
.order-review-collapse {
    /*width: 3vw;*/
    margin-right: 2vw;
}

.mobile-expand-order-view {
    display: block;
}

/*order review ends*/

/*order confirmation starts*/
.order-confirmation-container {
    top: 105px;
    box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.5);
    padding: 1.5vw;
    margin-top: 2vw;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding-right: 5vw;
    padding-left: 2.5vw;
    margin-bottom: 10vw;
}

.orderconfirmation-main {
    border: 1px solid #979797;
    border-radius: 5px;
    padding: 1.1vw 1.5vw;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.12);
    margin-bottom: 0.8vw;
}

.order-confirm-heading {
    font-size: 2.2vw;
    color: #454545;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding-bottom: 0.3vw;
    margin-bottom: 0.5vw;
}

.order-confirm-status {
    font-size: 1.8vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    color: #454545;
}

.order-confirm-price-style {
    font-size: 2.3vw;
    color: #658258;
}

.order-confirm-id {
    font-size: 2.4vw;
    margin: 2vw 0 2vw 0vw;
}

.estimate-pickup-button {
    font-size: 2.2vw;
    color: #fff;
    background-color: #658258;
    padding: 1vw 4vw;
    border-radius: 40px;
    border: 0px;
    margin-bottom: 5vw;
    margin-top: 2vw;
}

.common-card-padding {
    padding: 0px 2vw;
}

.orderconfirm-address-card {
    margin-top: 1vw;
}

/*order confirmation ends*/

/* faq starts */
.faq-container {
    background-color: #f3f2f1;
    top: 105px;
    min-height: 100vh;
}

.faq-main-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 0 3vw;
}

.faq-heading-text {
    font-size: 2.2vw;
    margin: 1.3vw 0vw;
}

.faq-collapse-dropdown-main {
    padding: 0 3vw;
    padding-top: 1.2vw;
}

.faq-collapse-dropdown-main .panel-default>.panel-heading {
    background-color: #fff;
    border-radius: 5px;
    padding: 0px;
}

.faq-collapse-dropdown-main .panel-default {
    border: 0px;
    margin-bottom: 1.5vw;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.faq-collapse-dropdown-main .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top: 0px;
    padding: 0 1.1vw;
}

.faq-dropdown-heading {
    font-size: 1.6vw;
    text-decoration: none !important;
    padding: 1.5vw 1.1vw;
    display: block;
}

.faq-content-style {
    font-size: 1.2vw;
}

.faq-collapse-icon {
    border: 1px solid #000;
    border-radius: 50%;
    width: 2vw;
}

/* faq ends */

/*restaurant guide page*/
#restaurant-guide {
    background-color: rgba(0, 0, 0, 0.8);
    padding-right: 0px;
}

.guide-custom-modal-content {
    background-color: transparent;
    margin-top: 30vw;
}

.guide-info-text {
    font-size: 4.5vw;
}

.gotit-button {
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 4.5vw;
    padding: 2vw 8vw;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
    height: 10vw;
}

.gotit-button::before {
    background-image: url("../images/goDysh-dashboardBG.jpg");
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    background-position: right;
    border-radius: 10px;
}

.got-it-button-main {
    position: relative;
}

.instruction-arrow-card {
    position: absolute;
    right: 0;
    top: 15px;
}

.sidekick-main {
    background-color: rgba(255, 255, 255, 0.3);
    width: 7vw;
    padding: 1.5vw;
    padding-right: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: relative;
    margin-top: -0.2vw;
}

.sidekick-main::before {
    background-image: url("../images/goDysh-dashboardBG.jpg");
    background-size: cover;
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    background-position: right;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.guide-left-arrow {
    height: 10vw;
}

.guide-sidekick-image {
    margin-right: -1px;
    display: inline-block;
}

/*restaurant guide page ends*/








/* Preloader */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1500;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* background-color: rgba(255, 255, 255, 0.7); */
}

.loader-logo {
    z-index: 1505;
    width: 150px;
    height: 150px;
    padding-bottom: 10px;
    /*  Found this logo on google images  */
    background-image: url("../images/godysh-animation.gif");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
}

.avatar-circle {
    width: 55px;
    height: 55px;
    background-color: #4f7942;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.avatar-dash-circle {
    background-color: #4f7942;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}
.avatar-dash-initials
{
    justify-content: center;
    align-items: center;
    display: flex !important;
    font-size: 50px !important;
}
.initials {
    position: relative;
    /* top: 25px; */
    font-size: 35px;
    /* 50% of parent */
    line-height: 45px;
    /* 50% of parent */
    color: #fff;
    font-family: "Courier New", monospace;
    font-weight: bold;
}

.pac-container:after {
    content: none !important;
}

.pac-item-query {
    border-bottom: 1px solid #a7a2a2;
    padding: 10px 10px;
    color: #337ab7;
    font-family: "OpenSans-SemiBold";
    cursor: pointer;
    z-index: 1;
}

.pac-item {
    color: #337ab7;
}

.selected-filter-option {
    background-color: #658258
}

.search-truncated {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-truncated-mobile {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    width: 300px;
}

.dish-listing-truncate {
    width: 90%;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.restaurant-cuisine-truncate {
    width: 90%;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.input,
.input label,
.input input,
.input .spin,
.button,
.button button .button.login button i.fa,
.material-button .shape:before,
.material-button .shape:after,
.button.login button {
    transition: 300ms cubic-bezier(.4, 0, .2, 1);
    -webkit-transition: 300ms cubic-bezier(.4, 0, .2, 1);
    -ms-transition: 300ms cubic-bezier(.4, 0, .2, 1);
}

.material-button,
.alt-2,
.material-button .shape,
.alt-2 .shape,
.box {
    transition: 400ms cubic-bezier(.4, 0, .2, 1);
    -webkit-transition: 400ms cubic-bezier(.4, 0, .2, 1);
    -ms-transition: 400ms cubic-bezier(.4, 0, .2, 1);
}

.input,
.input label,
.input input,
.input .spin,
.button,
.button button {
    width: 100%;
    float: left;
}

.input,
.input input,
.button,
.button button {
    position: relative;
}

.input input {
    height: 60px;
    top: 10px;
    /* border: none; */
    background: transparent;
}


.input:before,
.input .spin {
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.input:before {
    content: "";
    background: #4f7942;
    /* rgba(0, 0, 0, 1); */
    z-index: 3;
}

.input.error:before {
    content: "";
    background: #f11d1d;
    z-index: 3;
}

.input .spin {
    background: #4f7942;
    /* f11d1d */
    z-index: 4;
    width: 0;
}

.overbox .input .spin {
    background: rgba(255, 255, 255, 1);
}

.overbox .input:before {
    background: rgba(255, 255, 255, 0.5);
}

.input label {
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 2;
    cursor: text;
    /*line-height: 60px;*/
    font-size: 1rem;
    color: #999;
    font-family: 'Source Sans Pro';
    font-weight: normal;
    margin-bottom: 2px;
}

.range-slider-main {
    padding-left: 25px;
    margin-top: 9px;
}


/* 13SEP2019 */
/* Restaurant & Dish Page style Start */
.godysh-main-container {
    width: 100%;
    float: left;
}

.search-filter-header {
    width: 100%;
    float: left;
    background: #fff;
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 22;
    padding: 30px 50px;
    padding-bottom: 0;
}

.search-filter-error-message {
    width: 100%;
    float: left;
    color: #ff8610;
    font-size: 17px;
    font-weight: 500;
    line-height: 14px;
}

.search-filter-list {
    width: 100%;
    float: left;
    margin-bottom: 8px;
}

.btn-filter-outline {
    background: transparent;
    font-size: 12px;
    color: #000000;
    font-weight: 600;
    border-radius: 30px;
    border: 1px solid #36522e;
    outline: none !important;
    padding: 3px 15px;
    box-shadow: none;
    transition: all ease .3s;
    cursor: pointer;
    margin-bottom: 5px;
}

.btn-filter-outline:hover {
    background: #4f7942;
    color: #fff;
    border: 1px solid #4f7942;
    transition: all ease .3s;
}

.btn-error-close {
    width: 30px;
    height: 30px;
    background: #fff;
    font-size: 0.95vw;
    color: #000;
    font-weight: 400;
    border-radius: 30px;
    border: 1px solid #e9e9e9;
    box-shadow: 0px 3px 5px #dfdfdf;
    outline: none !important;
    padding: 0;
}

.search-filter-text {
    width: 100%;
    float: left;
    font-size: 15px;
    color: #000;
    font-weight: 600;
    margin-top:6px; 
    margin-bottom: 5px;
}

.btn-filter-show {
    background: #658258;

    color: #fff;
    border: 1px solid #658258;
    box-shadow: none !important;
    padding: 4px 20px; margin-left: 5px;
}

.btn-filter-show:hover {
    background: #658258;
    color: #fff;
}

.error-icon {
    font-size: 25px;
}

/* godysh-card-design */
.godysh-card-container {
   width: 100%;
    float: left;
    position: relative;
    margin-top: 40px;
    padding-right: 0px;
}
.dish-map-container {
    width: 50.7%;
    padding-right: 10px;
}

.godysh-card-dish-resize {
    width: 50%;
}

.dish-resize-card {
    width: 50%;
}

.godysh-card-design {
    width: 100%;
    float: left;
    margin: 15px 0 0;
}
/* .card-image:hover + .row .card-details .name,
.card-image:hover + .row .card-details .rating-star-right{
    margin-top: 30px;
    transform: scale(1.07);
    height: 70px;
    transform: scale(1.07);
    opacity: 1;
    position: relative;
    top: 30px;
    transition: 0.6s ease-in-out all;
    transition-delay: 5s;
} */
/* .card-image.restImg:hover + .row .card-details,
.restaurant-details-block.map-width .card-image:hover + .row .card-details .name,
.restaurant-details-block.map-width .card-image:hover + .row .card-details .rating-star-right{
    margin-top: 30px;
    transform: scale(1.07);
    height: 70px;
    transform: scale(1);
    position: relative;
    top: 0;
} */
.card-image:hover + .row .card-details .name{
    /* font-size: 15px; */
}
/* .card-image:hover + .row .name,
.card-image:hover + .row .rating-star-right,
.card-image:hover + .row .card-bottom,
.card-image:hover + .row .address,
.card-image:hover + .row .rating-star{
    opacity: 0;
    transition: 0.4s ease-in-out all;
}
.card-image.restImg:hover + .row .card-bottom,
.card-image.restImg:hover + .row .address,
.card-image.restImg:hover + .row .rating-star,
.restaurant-details-block.map-width .card-image:hover + .row .name,
.restaurant-details-block.map-width .card-image:hover + .row .rating-star-right,
.restaurant-details-block.map-width .card-image:hover + .row .card-bottom,
.restaurant-details-block.map-width .card-image:hover + .row .address,
.restaurant-details-block.map-width .card-image:hover + .row .rating-star{
    opacity: 1;
    transition: 0.05s ease-in-out all;
} */
/* .card-image:hover + .row .card-bottom{
    display: none;
} */


.godysh-card-design:hover .card-image {
    /* box-shadow: 0px 0px 10px #9b9b9b; */
    transition: all ease .5s;
}

.godysh-card-design .card-image {
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    transition: all ease-in-out .5s;
    cursor: pointer;
}



.noPaddingcardbottom
{
    padding-left: 0;
    padding-right: 0;
}
.paddingleft0{
    padding-left: 0;
}

/* .godysh-card-design .card-image:hover {
    box-shadow: 12px 12px 6px rgba(0, 0, 0, 0.68);
    -moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -moz-transform: scale(1.16);
    -webkit-transform: scale(1.16);
    transform: scale(1.16);
    z-index: 1;
} */
.restaurant-details-block.map-width .godysh-card-design .card-image:hover{
    box-shadow: none;
    -moz-transform: none;
    -webkit-transform: none;
    transform: none;
    z-index: 1;
}

/* .godysh-card-design .card-image:hover > img.img-responsive{
    transition: 0.4s ease-in-out all;
    -moz-transform: scale(1.3) rotate(-10deg);
    -webkit-transform: scale(1.3) rotate(-10deg);
    transform: scale(1.3) rotate(-10deg);
} */

/* .godysh-card-design .card-image.restImg:hover > img.img-responsive, */
.restaurant-details-block.map-width .godysh-card-design .card-image:hover > img.img-responsive{
    transition: 0.4s ease-in-out all;
    -moz-transform: none;
    -webkit-transform: none;
    transform: none;
}

.godysh-card-container .restImg.card-image:hover
{
    /* box-shadow: 12px 12px 6px rgba(0, 0, 0, 0.68); */
    box-shadow: none;
    /* -moz-transform: scale(1.10);
    -webkit-transform: scale(1.10);
    transform: scale(1.10); */
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 1;
}
.godysh-card-design .card-image img.cardheight {

    object-fit: cover;
    width: 100%;
}

.godysh-card-design .card-image .overlay {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.godysh-card-design .card-details {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.godysh-card-design .card-details .name {
    width: 100%;
    float: left;
    font-size: 17px;
    color: #000000;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.godysh-card-design .card-details .restaurant-name {
    width: 100%;
    float: left;
    font-size: 1.5vw;
    color: #000000;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.godysh-card-design .card-details .address {
    width: 100%;
    height: 30px;
    float: left;
    font-size: 13px;
    color: #000000;
    font-weight: 300;
    margin-bottom: 10px;
}

.godysh-card-design .card-details .rating-star {
    width: 100%;
    float: left;
    font-size: 11px;
    color: #000000;
    font-weight: 600;
}

.godysh-card-design .card-details .rating-star img {
    width: 14px; margin-right: 2px;
}

.godysh-card-design .card-details .rating-star-right {
    width: 100%;
    float: left;
    font-size: 1vw;
    color: #000000;
    font-weight: 600;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* .ipaddisplay {
    min-height: 105px !important;
} */

.godysh-card-design .card-details .rating-star-right img {
    width: 20px;
    margin-right: 4px;
    margin-top: -4px;
}
ul.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    margin-top:3px;
}

.godysh-card-design .card-bottom {
    width: 100%;
    float: left;
    margin-top: 7px; margin-bottom: 10px;
}

.godysh-card-design .card-bottom .regular-text {
    width: 100%;
    float: left;
    font-size: 12px;
    color: #000000;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.godysh-card-design .card-bottom .regular-text img {
    width: 12px;
}

.godysh-card-design .card-bottom .card-price {
    width: 100%;
    float: left;

    color: #000000;
    font-weight: 600;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: -3px;
}

.heart-fill-image {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    z-index: 1;
    cursor: pointer;
}

/* Map View Styles */
.dish-google-map-view {
    width: 45%;
    background-color: grey;
    margin-top: 55px;
    height: 100vh;
    right: 5%;
    position: fixed;
    z-index: 2;
    box-shadow: 0px 0px 8px #c8c8c8;
    display: none;
}

.restaurant-rating-width {
    width: 16px !important;
}

/* Top Menu */
#topMenu {
    width: 100%;
    float: left;
    overflow: auto;
}

#box {
    width: 100%;
    float: left;
    position: relative;
    padding: 0px;
}

.scroller {
    color: #000;
    width: 40px;
    text-align: center;
    cursor: pointer;
    display: none;
    padding: 0px;
    margin-top: 0px;
    height: 55px;
    line-height: 55px;
}
.scroller:hover{
  color: #4f7942;
}

.scroller::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0px;
    bottom: 0px;
    box-shadow: 0 0 50px 50px rgb(236, 236, 236);
    z-index: 5;
}
#box .scroller::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0px;
    bottom: 0px;
    box-shadow: none;
    z-index: 5;
}

.scroller-right {
    float: right;
}
.scroller-right::before {
    content: '';
    box-shadow: 0 0 23px 17px rgb(242, 242, 242);
    position: relative;
    right: 20px;
    top: 0;
    z-index: 9999;

}
.scroller-left::before {
    content: '';
    box-shadow: 0 0 26px 16px rgb(242, 242, 242);
    position: relative;
    right: -33px;
    top: 0;
    z-index: 9999;
}
.scroller-left {
    float: left;
}

.wrapper {
    position: relative;
    overflow: hidden;
    padding: 0px;
    height: 55px;
}

.list {
    position: absolute;
    left: 0px;
    top: 0px;
    min-width: 3000px;
    margin-left: 12px;
    margin-top: 0px;
    display:-webkit-box
}

/* .item {
    padding: 7px 0;
    float:left;
    display: inline-block;
    margin: 1px;
    position: relative;
    text-align: center;
    cursor: grab;
    cursor: -webkit-grab;
    color: #000000;
    font-size: 1.2vw;
    font-weight: 500;
    text-transform: uppercase;
    vertical-align: middle;
    font-family: OpenSans-Light;
} */
.page-scroll:target {
    animation: highlight 1s ease;
    transform: translateX(20px);
  }

.item.active {
    color: #4f7942;
    font-family: OpenSans-SemiBold;
}

.all-day-menu-select {
    width: 100px;
    float: left;
    margin-top: 15px;
}

.all-day-menu.custom-alm
{
    margin-left: 20px;
    padding: 10px;
    margin-top: 2.5vh;
    margin-bottom: 10px;
}
.ratingFlex
{
    display:flex;
    align-items: center;
}
.pl-0{
  padding-left: 0px;
}
.pr-0{
  padding-right: 0px;
}

.seereview-wrap
{
    display: flex;
    align-items: center;
}

.openHourstxt
{
    display: initial;
    font-weight: normal;
}
.all-day-menu-select-filter
{
    width: 16%;
    background-color: #FFFFFF;
    float: left;
    margin-top: 0px;
}
.all-day-menu-select-filter select
{
    background-position: right 5px bottom 7px !important;
    background-size: 0.9vw;
}


/* Splash page */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

body {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
    line-height: 1.42857143;
}

/* .home section{
    padding: 10px 0;
} */

.p-b-80 {
    padding-bottom: 80px;
}

.m-l-30 {
    margin-left: 30px;
}

.p-b-15 {
    padding-bottom: 15px;
}

.p-l-30 {
    padding-left: 30px;
}

.m-l_3 {
    margin-left: -4px;
}

.width-10 {
    width: 6% !important;
}

hr {
    margin: 20px 85px 5px;
    border-color: #979797;
}

.header-logo {
    /* width: 48.75px; */
    margin-left: 80px;
}

.home-menu {
    float: right
}


.search-grid {
    padding-right: 66px;
}


.content1-title {
    text-align: center;
}


.content1-title h3 {
    font-size: 33.75px;
    font-weight: 600;
    color: #000000;
}

.content1-title h4 {
    font-size: 21px;
    font-weight: 600;
    color: #979797;
}



.home-content2 {
    background-image: url(../images/story-2.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    padding: 170px 0;
}


.content2-title {
    text-align: center;
    padding: 0px 50px;
}


.content2-title h3 {
    font-size: 33.75px;
    font-weight: 600;
    color: #000000;
}

.content2-title h4 {
    font-size: 21px;
    font-weight: 600;
    color: #979797;
    line-height: 1.4;
}

.content3-title {
    text-align: center;
    padding: 10px 50px;
}

.works-carousel h3 {
    font-size: 33.75px;
    font-weight: 600;
    color: #000000;
}

.content3-title h4 {
    font-size: 15px;
    font-weight: 600;
    color: #000000;
}

.content3-title h5 {
    font-size: 11.25px;
    font-weight: 600;
    color: #979797;
}


.flex-align-center {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
}


ul.app-link {
    list-style: none;
    padding: 0;
    float: right;
    margin: 0 15px 0 0;
}

ul.app-link li {
    float: left;
    padding-left: 25px;
}

ul.app-link li img {
    width: 80px;
    height: 80px;
}

/* Carousel */

.works-carousel {
    position: relative;
    padding-bottom: 50px;
    text-align: center;
}


.works-carousel .carousel-inner>.item {
    text-align: center;
}

.works-carousel .carousel-inner>.item>img {
    display: initial
}

.works-carousel .carousel-captions {
    position: relative;
}

.works-carousel .carousel-indicators {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    bottom: 0;
    left: 0;
    width: auto;
}

.works-carousel .carousel-indicators li {
    width: 35px;
    height: 35px;
    border-radius: 40px;
    border: 1px solid #979797;
    margin-right: 15px;
    display: inline-block;
    cursor: pointer;
}


.works-carousel .carousel-indicators .active {
    background-color: rgba(101, 130, 88, 0.75)
}

/*** Add By:IB  **/
@media (max-width: 1024px) {
.content2-title{text-align: left;}
.home-content2{padding: 130px 0;}
.home-search{background-size:33%}
.input label{    top: 25px;}
}
/** Add Date:06-11-2019  **/
@media (min-width: 768px) {
    .navbar-right
    {
        margin-right: 0;
    }
}
@media (max-width: 768px) {

/*** Add By:IB  **/

.restaurantdetail-address-container {z-index: 2;padding-left: 2vw;position: absolute;bottom: 36px;}
    .mb-1{ margin-bottom: 5px !important;}

/** Add Date:06-11-2019  **/

    .pad-m-0 {
        padding: 0px;
    }

    .m-l-m-10 {
        margin-left: 10px;
    }

    .width-m-100{
        width:100% !important;
    }

    hr{
        margin: 10px 40px;
    }

    .home-search {
        background-image: url(../images/intro-1_mobile.png);
        background-position: 0px 0px;
        padding: 20px 0;
            background-size: 30%;
    }

    .app-btn {
        font-size: 12px;
    }

    .app-btn.active {
        padding: 2px 8px;
    }

    ul.mobile-app {
        float: right;
        padding: 20px 0 0;
        list-style: none;
        margin: 0;
    }

    .mobile-app li {
        padding-bottom: 10px;
    }

    .mobile-app li img {
        width: 34px;
        height: 34px;
    }

    .search-title {
        padding: 20px 0px;
    }

    .content-title h3 {
        font-size: 20px;
    }

    .content-title h4 {
        font-size: 13px;
    }

    .search-grid {
        padding-right: 15px;
    }

    .search-inner {
        background-color: none;
        border-radius: 0px;
        padding: 0;
        box-shadow: none;
    }

    .search-field .form-inline .form-group{
        width:100%
    }

    .m-l_3{
        margin: 0;
    }

    .search-field{
        padding-bottom: 0px;
    }

    .works-carousel{
        padding-bottom: 10px;
    }

    .works-carousel h3{
        margin-top: 30px;
        font-size: 20px;
    }

    .works-carousel .carousel-indicators li{
        width: 18px;
        height: 18px;
    }

    .footer-menu-top{
        padding: 0;
        text-align: left;
    }

    .footer-menu h4{
        font-size: 20px;
    }

    .footer-menu ul li{
        font-size: 18px;
    }

    

    .flex-align-center{
        padding-top: 25px;
        padding-bottom: 0px;
    }
}

/*** Add By:IB  **/
@media (max-width: 640px) {

    .home-search{background-size:43%}
    .close-modal{font-size: 25px;}
    .popular-rating-reviews {
        position: absolute;
        bottom: -14px;
        width: 100%;
        padding: 12px 20px 7px 0px;
    }
    }

    @media (max-width:480px) {

        .home-search{background-size:55%}
        }




    /** Add Date:06-11-2019  **/



/* Splash page ends */

/* //
// Carousel
// -------------------------------------------------- */


/* // Wrapper for the slide container and indicators */
.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;

  > .item {
    display: none;
    position: relative;
    .transition(.6s ease-in-out left);

 /*    // Account for jankitude on images */
    > img,
    > a > img {
      &:extend(.img-responsive);
      line-height: 1;
    }

  /*   // WebKit CSS3 transforms for supported devices */
    @media all and (transform-3d), (-webkit-transform-3d) {
      .transition-transform(~'0.6s ease-in-out');
      .backface-visibility(~'hidden');
      .perspective(1000px);

      &.next,
      &.active.right {
        .translate3d(100%, 0, 0);
        left: 0;
      }
      &.prev,
      &.active.left {
        .translate3d(-100%, 0, 0);
        left: 0;
      }
      &.next.left,
      &.prev.right,
      &.active {
        .translate3d(0, 0, 0);
        left: 0;
      }
    }
  }

  > .active,
  > .next,
  > .prev {
    display: block;
  }

  > .active {
    left: 0;
  }

  > .next,
  > .prev {
    position: absolute;
    top: 0;
    width: 100%;
  }

  > .next {
    left: 100%;
  }
  > .prev {
    left: -100%;
  }
  > .next.left,
  > .prev.right {
    left: 0;
  }

  > .active.left {
    left: -100%;
  }
  > .active.right {
    left: 100%;
  }

}

/* // Left/right controls for nav
// --------------------------- */

.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: @carousel-control-width;
  .opacity(@carousel-control-opacity);
  font-size: @carousel-control-font-size;
  color: @carousel-control-color;
  text-align: center;
  text-shadow: @carousel-text-shadow;
  background-color: rgba(0, 0, 0, 0); /* // Fix IE9 click-thru bug
  // We can't have this transition here because WebKit cancels the carousel
  // animation if you trip this while in the middle of another animation. */

  /* // Set gradients for backgrounds */
  &.left {
    #gradient > .horizontal(@start-color: rgba(0,0,0,.5); @end-color: rgba(0,0,0,.0001));
  }
  &.right {
    left: auto;
    right: 0;
    #gradient > .horizontal(@start-color: rgba(0,0,0,.0001); @end-color: rgba(0,0,0,.5));
  }

 /*  // Hover/focus state */
  &:hover,
  &:focus {
    outline: 0;
    color: @carousel-control-color;
    text-decoration: none;
    .opacity(.9);
  }

  /* // Toggles */
  .icon-prev,
  .icon-next,
  .glyphicon-chevron-left,
  .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    z-index: 5;
    display: inline-block;
  }
  .icon-prev,
  .glyphicon-chevron-left {
    left: 50%;
    margin-left: -10px;
  }
  .icon-next,
  .glyphicon-chevron-right {
    right: 50%;
    margin-right: -10px;
  }
  .icon-prev,
  .icon-next {
    width:  20px;
    height: 20px;
    line-height: 1;
    font-family: serif;
  }


  .icon-prev {
    &:before {
      content: '\2039';/* // SINGLE LEFT-POINTING ANGLE QUOTATION MARK (U+2039) */
    }
  }
  .icon-next {
    &:before {
      content: '\203a';/* // SINGLE RIGHT-POINTING ANGLE QUOTATION MARK (U+203A) */
    }
  }
}

/* // Optional indicator pips
//
// Add an unordered list with the following class and add a list item for each
// slide your carousel holds. */

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    width:  10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid @carousel-indicator-border-color;
    border-radius: 10px;
    cursor: pointer;

    /* // IE8-9 hack for event handling
    //
    // Internet Explorer 8-9 does not support clicks on elements without a set
    // `background-color`. We cannot use `filter` since that's not viewed as a
    // background color by the browser. Thus, a hack is needed.
    // See https://developer.mozilla.org/en-US/docs/Web/Events/click#Internet_Explorer
    //
    // For IE8, we set solid black as it doesn't support `rgba()`. For IE9, we
    // set alpha transparency for the best results possible. */
    background-color: #000 \9; // IE8
    background-color: rgba(0,0,0,0); // IE9
  }
  .active {
    margin: 0;
    width:  12px;
    height: 12px;
    background-color: @carousel-indicator-active-bg;
  }
}

/* // Optional captions
// -----------------------------
// Hidden by default for smaller viewports */
.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: @carousel-caption-color;
  text-align: center;
  text-shadow: @carousel-text-shadow;
  & .btn {
    text-shadow: none; /* // No shadow for button elements in carousel-caption */
  }
}


/* // Scale up controls for tablets and up */
@media screen and (min-width: @screen-sm-min) {

/*   // Scale up the controls a smidge */
  .carousel-control {
    .glyphicon-chevron-left,
    .glyphicon-chevron-right,
    .icon-prev,
    .icon-next {
      width: (@carousel-control-font-size * 1.5);
      height: (@carousel-control-font-size * 1.5);
      margin-top: (@carousel-control-font-size / -2);
      font-size: (@carousel-control-font-size * 1.5);
    }
    .glyphicon-chevron-left,
    .icon-prev {
      margin-left: (@carousel-control-font-size / -2);
    }
    .glyphicon-chevron-right,
    .icon-next {
      margin-right: (@carousel-control-font-size / -2);
    }
  }

 /*  // Show and left align the captions */
  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px;
  }

 /*  // Move up the indicators */
  .carousel-indicators {
    bottom: 20px;
  }
}



/* .restaurant-list-blur.filter-blur .godysh-card-container.map-wrap-container
{
    width:66.7%;
}
.restaurant-list-blur.filter-blur .godysh-card-container.map-wrap-container .col-lg-4
{
    width:50%;
} */


@media  screen and (max-width: 768px) {
   /*Add by :IB   */
    .paddingright15 {
         padding-right: 0px !important;
    }
    .order-review-close-modal {
        font-size: 2vw;
        margin-top: 7vw;
        color: #000;
        opacity: 1;
        position: relative;
        right: 12px;
    }
 /*Add Date :05/11/2019     */


.primary-btn{
    background-color: #4f7942;
    color: #ffffff;
}

.secondary-btn{
    background-color: #6d6b6b;
    color: #ffffff;
}

/* Common Section */

.app-header{
    border-top: 4px solid #4f7942;
}

.app-header .navbar{
    box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    border: none;
    border-radius: 0;
}

.app-header .navbar-brand{
    height: auto;
    padding: 12px 15px;
    margin-left:0px;
}

.app-header .navbar-brand img{
    width: 59px;
    height: 68px;
}

.app-header .navbar-right{
    /* padding: 17px 0; */
    margin-right: -25px;
}

/* .app-header .navbar-right i{
    font-size: 26px;
    color: #454545;
    padding: 17px 0;
} */

.app-header .navbar-right img.icon{
    width:32px;
    height: 32px;
    margin: 15px 0px;
}

.app-header .navbar-right img.avatar{
    height: 60px;
}
