/* Import Fonts start */
@import "../fonts/FontAwesome/font-awesome.min.css";
@import "../fonts/Barlow_Semi_Condensed/stylesheet.css";
@import "../fonts/Montserrat/stylesheet.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

/* Import Fonts end */
$fontsPath : "../fonts";
$imagePath : "../images";

/* FONTS declear start */
$main-font: 'Open Sans', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$bold-font: 'SourceSansPro-Black', sans-serif;
$fontawsome: 'FontAwesome';

$new-font-black: 'barlow_semi_condensedblack';
$new-font-regular: 'barlow_semi_condensedregular';
$new-font-medium: 'barlow_semi_condensedmedium';
$new-font-semibold: 'barlow_semi_condensedsemibold';
$new-font-bold: 'barlow_semi_condensedbold';
$new-font-light: 'barlow_semi_condensedlight';
$new-font-extra-light: 'barlow_semi_condensedXLt';


$new-montserrat-light: 'montserratlight';
$new-montserrat-bold: 'montserratbold';
$new-montserrat-medium: 'montserratmedium';
$new-montserrat-regular: 'montserratregular';
$new-montserrat-semibold: 'montserratsemibold';
/* FONTS declear end */

/* Site color declear start */
$black:#000;
$fadedblack: #333;
$white:#fff;
$primary-color: #4f7942;
$light-green: #54CF50;
$light-orange: #F78D28;
$secondary-color: #FFD542;
$heading-color: #333333;
$base-color: #454545;
$disable-color: #8f8f8f;
$gray-color: #F5F5F5;
$btn-gray: #979797;
$light-gray: #c1c1c1;
$dark-grey: #eeeeee;
$light-text: #595A59;
$dark-red: #E52B2B;
$green-tone: #50783F;
$light-text: #9D9999;
$extra-light-gray: #F1F1F1;
$review-text: #767676;
$title-gray: #F7F7F7;


$warning-color: #ff8610;

$facebook-color: #3b5998;
$twitter-color: #00aced;
$linkedin-color: #007bb5;
$email-color: #dd4b39;
/* Site color declear end */

/* Font size declear start */
$base-font: 16px; /*16px*//*1.2vw*/
$title-head: 24px; /*24px*//*1.9vw*/
$fontheading: 32px;/*32px*//*2.5vw*/
$font-subheading:18px;
$btn-text: 20px;
/* Font size declear end */

/* Font weight declear start */
$fw-regular:400;
$fw-light:300;
$fw-medium:500;
$fw-semibold:600;
$fw-bold:700;
/* Font weight declear start */

/*======Responsive starts=======*/
@mixin responsive($breakpoint) {
/*    @if $breakpoint==iphone6 {
        @media (min-width: 375px) {
            @content;
        }
    }*/
    @if $breakpoint==xsphone {
        @media (max-width: 480px) {
            @content;
        }
    }
    @else if $breakpoint==mediumbreak {
        @media (max-width: 639px) {
            @content;
        }
    }
    @else if $breakpoint==mdphone {
        @media (min-width: 640px) {
            @content;
        }
    }
    @else if $breakpoint==phone {
        @media (max-width: 767px) {
            @content;
        }
    }
    @else if $breakpoint==smtab {
        @media (max-width: 991px) {
            @content;
        }
    }
    @else if $breakpoint==tab {
        @media (max-width: 1024px) {
            @content;
        }
    }
    @else if $breakpoint==xbig {
        @media (max-width: 1200px) {
            @content;
        }
    }
    @else if $breakpoint==xxbig {
        @media (max-width: 1300px) {
            @content;
        }
    }
    @else if $breakpoint==xxbigger {
        @media (max-width: 1400px) {
            @content;
        }
    }
    @else if $breakpoint==xlbig {
        @media (min-width: 1600px) {
            @content;
        }
    }
    @else if $breakpoint==largePhone {
        @media (min-width: 768px) {
            @content;
        }
    }
}
/*======Responsive ends=======*/

// Flexbox display
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  
  // The 'flex' shorthand
  // - applies to: flex items
  // <positive-number>, initial, auto, or none
  @mixin flex($values) {
    -webkit-box-flex: $values;
       -moz-box-flex: $values;
        -webkit-flex: $values;
        -ms-flex: $values;
            flex: $values;
  }
  
  // Flex Flow Direction
  // - applies to: flex containers
  // row | row-reverse | column | column-reverse
  @mixin flex-direction($direction) {
    -webkit-flex-direction: $direction;
       -moz-flex-direction: $direction;
        -ms-flex-direction: $direction;
            flex-direction: $direction;
  }
  
  // Flex Line Wrapping
  // - applies to: flex containers
  // nowrap | wrap | wrap-reverse
  @mixin flex-wrap($wrap) {
    -webkit-flex-wrap: $wrap;
       -moz-flex-wrap: $wrap;
        -ms-flex-wrap: $wrap;
            flex-wrap: $wrap;
  }
  
  // Flex Direction and Wrap
  // - applies to: flex containers
  // <flex-direction> || <flex-wrap>
  @mixin flex-flow($flow) {
    -webkit-flex-flow: $flow;
       -moz-flex-flow: $flow;
        -ms-flex-flow: $flow;
            flex-flow: $flow;
  }
  
  // Display Order
  // - applies to: flex items
  // <integer>
  @mixin order($val) {
    -webkit-box-ordinal-group: $val;
       -moz-box-ordinal-group: $val;
           -ms-flex-order: $val;
            -webkit-order: $val;
                order: $val;
  }
  
  // Flex grow factor
  // - applies to: flex items
  // <number>
  @mixin flex-grow($grow) {
    -webkit-flex-grow: $grow;
       -moz-flex-grow: $grow;
        -ms-flex-grow: $grow;
            flex-grow: $grow;
  }
  
  // Flex shrink
  // - applies to: flex item shrink factor
  // <number>
  @mixin flex-shrink($shrink) {
    -webkit-flex-shrink: $shrink;
       -moz-flex-shrink: $shrink;
        -ms-flex-shrink: $shrink;
            flex-shrink: $shrink;
  }
  
  // Flex basis
  // - the initial main size of the flex item
  // - applies to: flex itemsnitial main size of the flex item
  // <width>
  @mixin flex-basis($width) {
    -webkit-flex-basis: $width;
       -moz-flex-basis: $width;
        -ms-flex-basis: $width;
            flex-basis: $width;
  }
  
  // Axis Alignment
  // - applies to: flex containers
  // flex-start | flex-end | center | space-between | space-around
  @mixin justify-content($justify) {
    -webkit-justify-content: $justify;
       -moz-justify-content: $justify;
        -ms-justify-content: $justify;
            justify-content: $justify;
              -ms-flex-pack: $justify;
  }
  
  // Packing Flex Lines
  // - applies to: multi-line flex containers
  // flex-start | flex-end | center | space-between | space-around | stretch
  @mixin align-content($align) {
    -webkit-align-content: $align;
       -moz-align-content: $align;
        -ms-align-content: $align;
            align-content: $align;
  }
  
  // Cross-axis Alignment
  // - applies to: flex containers
  // flex-start | flex-end | center | baseline | stretch
  @mixin align-items($align) {
    -webkit-align-items: $align;
       -moz-align-items: $align;
        -ms-align-items: $align;
            align-items: $align;
  }
  
  // Cross-axis Alignment
  // - applies to: flex items
  // auto | flex-start | flex-end | center | baseline | stretch
  @mixin align-self($align) {
    -webkit-align-self: $align;
       -moz-align-self: $align;
        -ms-align-self: $align;
            align-self: $align;
  }


  // p{line-height: 24px;}
// h1, h2, h3, h4, h5,h6{font-family: $main-font;font-weight: 700;position: relative;z-index: 2;}
// a, input[type="submit"], input[type="reset"], button[type="submit"]{@include transition(all 500ms ease-in-out);}
// img{max-width: 100%;height: auto; width: auto;}
// button:focus, a:focus{border:0; outline: none;}
.site-middle{@include clear;}
/* Grid declear start */
// .container{width: 1300px;}
.container-fluid{
    padding-left: 6%; padding-right: 6%;
    @include responsive(tab) {
        padding-right: 15px;
        padding-left: 15px;
    }
}
// .mobileRow
// {
//     @include responsive(tab) {
//         margin-right: 0px;
//         margin-left: 0px;
//     }
// }
// .nopaddingMobile
// {
//     @include responsive(tab) {
//         padding-left: 0px;
//         padding-right: 0px;
//     }
// }

// .container-section
// {
//     padding-left: 6%; padding-right: 6%;
// }
/* Grid declear end */
body {
    font-family: $new-font-regular;
}




@mixin list {
    list-style: none;
    margin: 0;
    padding: 0;
}