.dashboard-details-main {
    width: 90%;
    margin-left: 8%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dashboard-title {
    // border-bottom: 1px solid;
    // border-color: rgba(210, 210, 210, 0.8);
    // padding-bottom: 5px;
    // font-size: 1.2vw;
    // margin-top: 0.8vw;
    // color: #000;
}
.dash-border-bottom
{
    border-bottom: #DDDDDD 1px solid;
}
.common-detail-box {
    border-radius: 10px;
    background-color:$white;
    margin-bottom: 0.7vw;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.12);
}
.dashboard-head
{
    background-color: $title-gray;
    color: $heading-color;
    font-size: 21px;
    font-family: $new-font-medium;
    padding: 15px 20px;
    // margin-bottom: 20px;
}
.dash-inner-container
{
    padding: 20px 5px;
    position: relative;
}
.dash-color-strip
{
    position: absolute;
    left: 53%;
    bottom: 15px;
    @include responsive(xsphone) {
        bottom: 0px;
    }
    ul{
        list-style-type: none;
        padding-left: 0px;
        margin-bottom: 0px;
        li{
            font-family: $new-font-light;
            font-size: 13px;
            margin-bottom: 5px;
            @include responsive(xsphone) {
                font-size: 12px;
                margin-bottom: 2px;
            }
        }
        span{
            width: 14px;
            height: 13px;
            display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 2px;
        }
        span.CRspentBox
        {
background-color: #ECECEC;
        }
        span.CRpendBox
        {
background-color: #FFD542;
        }
    }
}
.earning-status {
    width: 170px;
    margin: 0 auto;
    height: 170px;
    border-radius: 50%;
    border-color: #9e9fa0;
    text-align: center;
    position: relative;
    display: table;
    padding: 30px;
    background-color: #ECECEC;
    @include responsive(xbig) {
        width: 125px;
        height: 125px;
        padding: 20px;
    }
    @include responsive(xsphone) {
        width: 100px;
        height: 100px;
        padding: 12px;
    }
    
}
.earning-total {
    height: 100%;
    background-color: $white;
    border: $black 1px solid;
    border-radius: 50%;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 2; 
    word-break: break-all; 
    padding: 10px;
    z-index: 9999;
    .earning-total-bold
    {
        display: inline-block;
        width: 100%;
        font-size: 23px;
        font-family: $new-font-medium;
        color: $heading-color;
        @include responsive(xsphone) {
            font-size: 16px;
        }
    }
    .earning-total-reg
    {
        display: inline-block;
        width: 100%;
        font-size: 16px;
        font-family: $new-font-regular;
        color: $heading-color;
        @include responsive(xsphone) {
            font-size: 14px;
        }
    }
}
.dash-earned
{
    h4.credits-price
    {
        .new-medium-font
        {
            color: $heading-color;
            font-size: 25px;
            font-family: $new-font-semibold;
            @include responsive(tab) {
                font-size: 16px;
            }
        }
        .new-reg-font
        {
            color: $heading-color;
            font-size: 18px;
            font-family: $new-font-regular;
            @include responsive(tab) {
                font-size: 14px;
            }
        }
    }
}

.earning-cicle-rating {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    border-radius: 50%;
}

.prec {
    top: 30px;
    position: relative;
    font-size: 30px;
}

.prec:after {
    content: '%';
}

.circle {
    position: relative;
    top: 5px;
    left: 5px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #E6F4F7;
    visibility: hidden;
}

.credits-price {
    margin-bottom: 15px;
    margin-top: 0px;
}
.order-history-count-area
{
    margin-top: 0px;
    margin-bottom: 15px;
    .order-history-count
    {
        margin-right: 8px;
        display: inline-block;
        font-family: $new-font-semibold;
        font-size: 25px;
    }
    .order-pash-month
    {
        font-family: $new-font-regular;
        font-size: 18px;
    }
}

.recent-order-area
{
    font-size: 18px;
    color: $heading-color;
    border-bottom: #DDDDDD 1px solid;
    font-family: $new-font-regular;
    margin-top: 0px;
    padding-bottom: 10px;
}

.no-recent-order
{
    color: #DDDDDD;
    font-family: $new-font-regular;
    font-size: 16px;
}
.dash-review
{
    list-style-type: none;
    padding-left: 0px;
    overflow: hidden;
    margin-bottom: 0px;
    li{
        float: left;
        width: 50%;
        border-right: #DDDDDD 1px dashed;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        &:last-child{
            border-right: none;
        }
        span{
            display: inline-block;
            width: 100%;
        }
        span.order-review-rating-count
        {
            font-size: 25px;
            font-family: $new-font-semibold;
        }
        span.order-review-rating-text
        {
            font-size: 18px;
            font-family: $new-font-regular;
        }       
    }
}
.dash-inner-small-container
{
    padding: 10px 25px;
    position: relative;
    font-size: 16px;
    color: $heading-color;
    font-family: $new-font-medium;
}
.dash-review-arrow
{
display: inline-block;
float: right;
}

.recent-added-sec
{
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    .dashboard-address
    {
        h6{
            color: $heading-color;
            font-family: $new-font-regular;
            font-size: 16px;
            margin-top: 0px;
            margin-bottom: 5px;
        }
        p{
            color: $heading-color;
            font-family: $new-font-light;
            font-size: 16px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
} 
.dashboard-main {
    margin-top: 85px;
    top: 0 !important;
}
.dashboard-profile-main {
    /*background-color: rgba(0, 0, 0, 0.6);*/
    // position: fixed;
    position: relative;
    right: 0px;
    top: 73px;
    overflow: auto;
    z-index: 0;
    height: calc(100% - 73px);
    background-color: $white;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.12);
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.dashboard-profile-main:before {
    /* background-image: url("../images/goDysh-dashboardBG.jpg"); */
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 1;
    background-position: right;
    filter: blur(17px);
}
.width50
{
    width: 70% !important;
}
.dashboard-profile-image {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.profile-detail-head {
    padding-left: 0px;
    padding-right: 0px;
}

.profile-wish {
    margin-top: 0px;
    font-size: 28px;
    font-family: $new-font-medium;
    color: $heading-color;
}

.dashboard-profile-options {
    li{
        background-color: $white;
        border-bottom: #DDDDDD 1px dashed;
        &:last-child{
            border-bottom: none;
        }
        a{
            display: block;
            padding: 12px 5px 12px 10px;
            color: $heading-color;
            font-family: $new-font-medium;
            text-decoration: none;
            font-size: 18px;
            cursor: pointer;
            span.dash-menu-arrow
            {
                float: right;
            }
        }
    }
}
.hambMobile
{
    display: none;
}
.dashboard-content-section
{
    margin-bottom: 0px;
}

.dash-user-profile-details
{
    display: table;
    float: left;
    width: 100%;
    padding: 15px 5px;
    border-bottom: #DDDDDD 1px solid;
    .dash-user-profile-img{
        display: table-cell;
        float: none;
        width: 40%;
        vertical-align: middle;
        text-align: right;
        span{
            display: inline-block;
            width: 130px;
            height: 130px;
            border-radius: 100%;
            overflow: hidden;
        }
    }
    .dash-user-profile-name{
        display: table-cell;
        float: none;
        width: 60%;
        vertical-align: middle;
        padding-left: 15px;
        h5{
            font-size: 18px;
            font-family: $new-font-regular;
            margin-bottom: 0px;
        }
    }
}
.dash-menu-listing
{
    padding: 0px 45px;
    // overflow: scroll;
    overflow: auto;
    // height: 62vh;
    // height: 100vh;
    height: calc(100vh + 30px);

}
.profile-list-img {
    width: 23px;
    display: inline-block;
    margin-right: 10px;
    pointer-events: none;
    position: relative;
    top: -1px;
}
.dash-rect-ord-name
{
    color: $black;
    font-family: $new-font-extra-light;
    font-size: $base-font;
}
.restaurant-order-details-main {
    width: 100%;
    display: inline-block;
}
.dashboad-order-number {
    font-size: 14px;
    font-family: $new-font-medium;
    color: #BABABA;
    @include responsive(xsphone) {
        float: left !important;
    }
}
.dashboard-address {
    font-size: $base-font;
    color: $black;
    font-family: $new-font-regular;
}
.dashHambToggle
{
    img.hamb-icon{
position: relative;
top: -3px;
    }
}