/**** search result listing css ************/
.custom-search {
    padding: 0;
    overflow-x: hidden;
}

.resturant-name {
    display: block;
    position: relative;
}

.custom-list {
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    border: 1px solid $black;
    border-radius: 50%;
    padding: 9px;
    background-color: $black;
    color: #ffff;
    font-size: 19px;
    opacity: 0.5;
    right: 9px;

}


/**** search result listing css ************/
.custom-search {
    padding: 0;
    overflow-x: hidden;
}
.addressSearchFromApi
{
    list-style-type: none;
    padding-left: 0px;
    position: absolute;
    width: 100%;
    z-index: 9;
    padding: 5px;  
    background-color: $white;
    top: 45px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
    border-radius: 5px;
    margin-bottom: 0px;
    overflow: hidden;
    li{
        display: inline-block;
        width: 100%;
        border-radius: 5px;
        transition: all .4s;
        div.addressSearchname
        {
            display: block;
            padding: 8px 8px;
            transition: all .4s;
            position: relative;
            h3{
                font-size: 16px;
                font-family: $new-font-regular;
                color: $heading-color;
                margin-top: 0px;
                margin-bottom: 4px;
            }
            h5{
                margin-bottom: 0px;
                margin-top: 4px;
                font-size: 14px;
                font-family: $new-font-regular;
                color: #8B8B8B;
            }
        }
        &:hover{
            background-color: $secondary-color; 
            div.addressSearchname
            {
                div.addressOptionLink
                {
                    a.addressEdit
                    {
                        background-color: darken($secondary-color, 20%);
                    }
                    a.addressDelete
                    {
                        background-color: #db6500;
                    }
                }
            }
        }
    }
}
.addressOptionLink
{
    position: absolute;
    right: 10px;
    top: 12px;
    span{
        display: inline-block;
        margin-right: 5px;
        a{
            display: inline-block;
            padding: 5px;
            border-radius: 100%;
            width: 25px;
            height: 25px;
            line-height: 14px;
            text-align: center;
            img{
                width: 10px;
            }
        }
        a.addressEdit
        {
            transition: all .4s;
        }
        a.addressDelete
        {
            transition: all .4s;
        }
        &:last-child{
            margin-right: 0px;
        }
    }
}
.dish-search-list
{
    border-radius: 5px;
    // padding: 5px; 
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
    background-color: $white;
    div{
        font-size: 16px;
        font-family: $new-font-regular;
        color: $heading-color;
        border-radius: 5px;
        &:hover{
            background-color: $secondary-color; 
        }
    }
}  
.edit-modal-error-msg
{
    text-align: center;
    margin-top: 10px;
}
.form-error-display
{
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    border-radius: 20px;
    background-color: lighten($dark-red, 15%);
    color: $white;
    font-size: 16px;
    font-family: $new-font-regular;
    border: 1px solid lighten($dark-red, 15%)
    
}
.form-error-display__m
{
    position: relative;
    display: inline-block;
    padding: 8px 14px 11px;
    border-radius: 3px;
    background-color: #fff;
    color: #ed6f6f;
    font-size: 16px;
    font-family: "barlow_semi_condensedregular";
    border: 1px solid #ed6f6f;

    &-txt{
        display: inline-block;
        margin-right: 12px;
        margin-bottom: 0;
        margin-left: 7px;
        font-family: "barlow_semi_condensedregular";
        font-size: 17px;
    }
    img{
        max-width: 22px;
    }
    span{
        position: absolute;
        right: 7px;
        top: 0px;
        color:lighten($dark-red, 15%);
        display: inline-block;
        font-size: 12px;
        cursor: pointer;
    }
}
.search-slider .VueCarousel{
    max-width: 100%;
    .VueCarousel-navigation-prev{
        top: 50%!important;
        // transform: translateY(-50%)!important;
        padding: 0!important;
    }
    .VueCarousel-navigation-next{
        top: 50%!important;
        // transform: translateY(-50%)!important;
        padding: 0!important;
    }
    .VueCarousel-navigation-button{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        box-shadow: 1px 1px 10px rgba(0,0,0,.3);
        background-color: #ffd542!important;
    }
}

.search-filter-header__m{
    padding-left:0!important;
    padding-right:0!important;
}

.search-filter-header__cont{
    padding-left:6%;
    padding-right:6%;
}
.search-filter-header__m.hide-icon-closed{
     background-color: #fff; 
}
.dflex__m{
    display: flex;
    flex-wrap: wrap;
    // padding-left: 15px;
    // padding-right: 15px;
}
.p-0{
    padding-left: 0;
    padding-right: 0;
}
.btn-viewall{
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    font-family: "barlow_semi_condensedmedium";
    border-radius: 5px;
    border: 1px solid #ffd542;
    background-color: #ffffff;
    width: 77px;
    height: 40px;
}

.align-items-center{
   align-items: center;
}

.viewall-mrg{
    margin: 0 15px;
}


@media (min-width:992px){
    .rest-single-card-view{
        min-width: 376px;
    }
    .rest-single-card-view-map{
        min-width: 290px
    }
    .dish-google-map-view.google-tag{
        right: 6%!important;
    }
    .dish-google-map-view.google-tag.bfixed{
        right: 0%!important;
    }
}
.dish-google-map-view.google-tag{
    width: 43%!important;
}
@media (min-width:992px) and (max-width:1199px){
    .dish-google-map-view.google-tag {
        width: 40% !important;
    }
}

@media (max-width:992px){
    .rest-single-card-view{
        min-width: 300px;
    }
}
@media (max-width:767px){
    .row_xs{
        margin: 0 !important;
    }
    .rest-single-card-view{
        min-width: 280px;
    }
    .quick-active-link{
        position: relative;
    
        &::before{
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            background: #f8d65f;
            border-radius: 50%;
            left: 50%;
            transform: translateX(-6px);
            top: -10px;
        }
    }
    .s-fltr__top{
        .VueCarousel-wrapper{
            padding-top: 10px;
        }
    }
    .rest-slider{
        .VueCarousel .VueCarousel-navigation-next, .VueCarousel .VueCarousel-navigation-prev{
           top: 56%!important;
        }
    }
}
@media (max-width:575px){
    // .rest-card-list-slider__flex {
    //     .VueCarousel-slide{
    //         flex-basis: 100%
    //     }
    // }
    .rest-single-card-view{
        min-width: 419px;
    }
}
@media (max-width:480px){
    .rest-single-card-view{
        min-width: 300px;
    }
}