@font-face {
  font-family: 'godysh';
  src:  url('fonts/godysh.eot?4qmi3v');
  src:  url('fonts/godysh.eot?4qmi3v#iefix') format('embedded-opentype'),
    url('fonts/godysh.ttf?4qmi3v') format('truetype'),
    url('fonts/godysh.woff?4qmi3v') format('woff'),
    url('fonts/godysh.svg?4qmi3v#godysh') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="gdy-"], [class*="gdy-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'godysh' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gdy-show-more-button-with-three-dots:before {
  content: "\e908";
}
.gdy-add-plus-button:before {
  content: "\e909";
}
.gdy-substract:before {
  content: "\e90a";
}
.gdy-close-button:before {
  content: "\e90b";
}
.gdy-calendar:before {
  content: "\e90c";
}
.gdy-info-button:before {
  content: "\e90d";
}
.gdy-comment:before {
  content: "\e90e";
}
.gdy-hashtag:before {
  content: "\e90f";
}
.gdy-menu-button-of-three-lines:before {
  content: "\e910";
}
.gdy-dollar-symbol:before {
  content: "\e911";
}
.gdy-icon-4:before {
  content: "\e900";
}
.gdy-icon-5:before {
  content: "\e901";
}
.gdy-icon-6:before {
  content: "\e902";
}
.gdy-icon-7:before {
  content: "\e903";
}
.gdy-icon-8:before {
  content: "\e904";
}
.gdy-icon-1:before {
  content: "\e905";
}
.gdy-icon-2:before {
  content: "\e906";
}
.gdy-icon-3:before {
  content: "\e907";
}
